/*
 * Copyright (c) 2013 by Gerrit Grunwald
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.one-eighty-gauge {
    -fx-skin             : "eu.hansolo.enzo.gauge.skin.OneEightyGaugeSkin";
    -bar-background-color: #eff3f3;
    -bar-color           : #3221c9;
    -title-color         : black;
    -value-color         : black;
    -unit-color          : black;
    -min-text-color      : black;
    -max-text-color      : black;
}
.one-eighty-gauge .unit {
    -fx-fill: -unit-color;
}
.one-eighty-gauge .title {
    -fx-fill: -title-color;
}
.one-eighty-gauge .value {
    -fx-fill: -value-color;
}
.one-eighty-gauge .min-text {
    -fx-fill: -min-text-color;
}
.one-eighty-gauge .max-text {
    -fx-fill: -max-text-color;
}
.one-eighty-gauge .bar-background {
    -fx-fill  : -bar-background-color;
    -fx-stroke: transparent;
}
.one-eighty-gauge .data-bar {
    -fx-fill  : -bar-color;
    -fx-stroke: transparent;
}
