/*
 * Copyright (c) 2013 by Gerrit Grunwald
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


/******************************************************************************
 * SIMPLEPIECHART class                                                       *
 *****************************************************************************/
.simple-pie-chart {
    -fx-skin           : "eu.hansolo.enzo.charts.skin.SimplePieChartSkin";
    -info-color        : #494949;
    -info-text-color   : white;
    -title-text        : white;
    -section-text      : white;
    -section-fill-0    : #f3622d;
    -section-fill-1    : #fba71b;
    -section-fill-2    : #57b757;
    -section-fill-3    : #41a9c9;
    -section-fill-4    : #4258c9;
    -section-fill-5    : #9a42c8;
    -section-fill-6    : #c84164;
    -section-fill-7    : #1aa085;
    -section-fill-8    : #27ae60;
    -section-fill-9    : #5399c6;
    -section-fill-10   : #8e44ad;
    -section-fill-11   : #f5af41;
    -section-fill-12   : #d35519;
    -section-fill-13   : #cc6055;
    -section-fill-14   : #2c3e50;

    -range-fill        : rgba(0, 0, 0, 0.25);
}


/******************************************************************************
 * SIMPLEPIECHART info                                                        *
 *****************************************************************************/
.simple-pie-chart > .info {
    -fx-background-color : white, -info-color;
    -fx-background-insets: 0, 5;    
    -fx-background-radius: 1024;   
}


/******************************************************************************
 * SIMPLEPIECHART info, title, section-text                                   *
 *****************************************************************************/
.simple-pie-chart > .info-text {
    -fx-fill: -info-text-color;
}
.simple-pie-chart > .title {
    -fx-fill: -title-text;
}
.simple-pie-chart > .section {
    -fx-fill: -section-text;
}


/******************************************************************************
 * SIMPLEPIECHART sections                                                   *
 *****************************************************************************/
.simple-pie-chart .section0 {
    -fx-fill: -section-fill-0;
}
.simple-pie-chart .section1 {
    -fx-fill: -section-fill-1;
}
.simple-pie-chart .section2 {
    -fx-fill: -section-fill-2;
}
.simple-pie-chart .section3 {
    -fx-fill: -section-fill-3;
}
.simple-pie-chart .section4 {
    -fx-fill: -section-fill-4;
}
.simple-pie-chart .section5 {
    -fx-fill: -section-fill-5;
}
.simple-pie-chart .section6 {
    -fx-fill: -section-fill-6;
}
.simple-pie-chart .section7 {
    -fx-fill: -section-fill-7;
}
.simple-pie-chart .section8 {
    -fx-fill: -section-fill-8;
}
.simple-pie-chart .section9 {
    -fx-fill: -section-fill-9;
}
.simple-pie-chart .section10 {
    -fx-fill: -section-fill-10;
}
.simple-pie-chart .section11 {
    -fx-fill: -section-fill-11;
}
.simple-pie-chart .section12 {
    -fx-fill: -section-fill-12;
}
.simple-pie-chart .section13 {
    -fx-fill: -section-fill-13;
}
.simple-pie-chart .section14 {
    -fx-fill: -section-fill-14;
}
