/*
 * Copyright (c) 2013 by Gerrit Grunwald
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.symbol {
	-symbol-color  : white;
	-fx-scale-shape: true;
}

#refresh {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 6.0 11.0 C 7.0 8.0 10.0 6.0 14.0 6.0 C 16.0 6.0 18.0 7.0 19.0 8.0 C 19.0 8.0 17.0 9.0 17.0 9.0 L 24.0 12.0 L 23.0 5.0 C 23.0 5.0 22.0 6.0 22.0 6.0 C 20.0 4.0 17.0 3.0 14.0 3.0 C 9.0 3.0 4.0 6.0 3.0 11.0 C 3.0 11.0 3.0 12.0 3.0 12.0 L 6.0 12.0 C 6.0 12.0 6.0 11.0 6.0 11.0 ZM 22.0 15.0 C 22.0 15.0 22.0 15.0 22.0 15.0 C 21.0 19.0 18.0 21.0 14.0 21.0 C 12.0 21.0 10.0 20.0 9.0 19.0 C 9.0 19.0 11.0 18.0 11.0 18.0 L 4.0 15.0 L 5.0 22.0 C 5.0 22.0 6.0 21.0 6.0 21.0 C 8.0 23.0 11.0 24.0 14.0 24.0 C 19.0 24.0 24.0 20.0 25.0 16.0 C 25.0 16.0 25.0 15.0 25.0 15.0 L 22.0 15.0 Z";
}
#star {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 13.0 3.0 C 14.0 2.0 14.0 2.0 15.0 3.0 C 15.0 3.0 17.0 8.0 17.0 8.0 C 17.0 9.0 18.0 10.0 19.0 10.0 C 19.0 10.0 25.0 10.0 25.0 10.0 C 26.0 10.0 26.0 10.0 26.0 11.0 C 26.0 11.0 20.0 15.0 20.0 15.0 C 20.0 16.0 19.0 17.0 20.0 18.0 C 20.0 18.0 21.0 24.0 21.0 24.0 C 22.0 25.0 21.0 25.0 21.0 25.0 C 21.0 25.0 15.0 21.0 15.0 21.0 C 15.0 21.0 13.0 21.0 13.0 21.0 C 13.0 21.0 7.0 25.0 7.0 25.0 C 7.0 25.0 6.0 25.0 7.0 24.0 C 7.0 24.0 8.0 18.0 8.0 18.0 C 9.0 17.0 8.0 16.0 8.0 15.0 C 8.0 15.0 2.0 11.0 2.0 11.0 C 2.0 10.0 2.0 10.0 3.0 10.0 C 3.0 10.0 9.0 10.0 9.0 10.0 C 10.0 10.0 11.0 9.0 11.0 8.0 C 11.0 8.0 13.0 3.0 13.0 3.0 Z";
}
#heart {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 19.0 3.0 C 17.0 3.0 15.0 4.0 14.0 5.0 C 12.0 4.0 10.0 3.0 8.0 3.0 C 4.0 3.0 1.0 6.0 1.0 9.0 C 1.0 17.0 14.0 25.0 14.0 25.0 C 14.0 25.0 26.0 17.0 26.0 9.0 C 26.0 6.0 23.0 3.0 19.0 3.0 Z";
}
#blue-tooth {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 12 14 L 7 9 L 9 8 L 13 12 L 13 2 L 20 9 L 15 14 L 20 19 L 13 26 L 13 16 L 9 20 L 7 19 L 12 14 Z M 15 7 L 15 12 L 17 9 L 15 7 Z M 15 21 L 18 19 L 15 16 L 15 21 Z";
}
#search {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 11.0 6.0 C 14.0 6.0 17.0 8.0 17.0 12.0 C 17.0 13.0 17.0 14.0 16.0 15.0 C 16.0 15.0 16.0 16.0 16.0 16.0 C 16.0 16.0 15.0 17.0 15.0 17.0 C 14.0 17.0 12.0 18.0 11.0 18.0 C 8.0 18.0 5.0 15.0 5.0 12.0 C 5.0 8.0 8.0 6.0 11.0 6.0 C 11.0 6.0 11.0 6.0 11.0 6.0 ZM 11.0 3.0 C 6.0 3.0 2.0 7.0 2.0 12.0 C 2.0 17.0 6.0 21.0 11.0 21.0 C 13.0 21.0 15.0 20.0 17.0 19.0 C 17.0 19.0 17.0 19.0 17.0 19.0 C 17.0 19.0 22.0 25.0 22.0 25.0 C 23.0 25.0 23.0 25.0 23.0 25.0 C 24.0 25.0 24.0 25.0 25.0 25.0 C 25.0 24.0 25.0 23.0 25.0 22.0 C 25.0 22.0 19.0 17.0 19.0 17.0 C 19.0 17.0 19.0 17.0 18.0 17.0 C 19.0 15.0 20.0 14.0 20.0 12.0 C 20.0 7.0 16.0 3.0 11.0 3.0 C 11.0 3.0 11.0 3.0 11.0 3.0 Z";
}
#zoom-in {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 11.0 6.0 C 14.0 6.0 17.0 8.0 17.0 12.0 C 17.0 13.0 17.0 14.0 16.0 15.0 C 16.0 15.0 16.0 16.0 16.0 16.0 C 16.0 16.0 15.0 17.0 15.0 17.0 C 14.0 17.0 12.0 18.0 11.0 18.0 C 8.0 18.0 5.0 15.0 5.0 12.0 C 5.0 8.0 8.0 6.0 11.0 6.0 ZM 11.0 3.0 C 6.0 3.0 2.0 7.0 2.0 12.0 C 2.0 17.0 6.0 21.0 11.0 21.0 C 13.0 21.0 15.0 20.0 17.0 19.0 C 17.0 19.0 17.0 19.0 17.0 19.0 C 17.0 19.0 22.0 25.0 22.0 25.0 C 23.0 25.0 23.0 25.0 23.0 25.0 C 24.0 25.0 24.0 25.0 25.0 25.0 C 25.0 24.0 25.0 23.0 25.0 22.0 C 25.0 22.0 19.0 17.0 19.0 17.0 C 19.0 17.0 19.0 17.0 18.0 17.0 C 19.0 15.0 20.0 14.0 20.0 12.0 C 20.0 7.0 16.0 3.0 11.0 3.0 ZM 10.0 9.0 L 10.0 11.0 L 8.0 11.0 L 8.0 13.0 L 10.0 13.0 L 10.0 15.0 L 12.0 15.0 L 12.0 13.0 L 14.0 13.0 L 14.0 11.0 L 12.0 11.0 L 12.0 9.0 L 10.0 9.0 Z";
}
#zoom-out {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 11.0 6.0 C 14.0 6.0 17.0 8.0 17.0 12.0 C 17.0 13.0 17.0 14.0 16.0 15.0 C 16.0 15.0 16.0 16.0 16.0 16.0 C 16.0 16.0 15.0 17.0 15.0 17.0 C 14.0 17.0 12.0 18.0 11.0 18.0 C 8.0 18.0 5.0 15.0 5.0 12.0 C 5.0 8.0 8.0 6.0 11.0 6.0 ZM 11.0 3.0 C 6.0 3.0 2.0 7.0 2.0 12.0 C 2.0 17.0 6.0 21.0 11.0 21.0 C 13.0 21.0 15.0 20.0 17.0 19.0 C 17.0 19.0 17.0 19.0 17.0 19.0 C 17.0 19.0 22.0 25.0 22.0 25.0 C 23.0 25.0 23.0 25.0 23.0 25.0 C 24.0 25.0 24.0 25.0 25.0 25.0 C 25.0 24.0 25.0 23.0 25.0 22.0 C 25.0 22.0 19.0 17.0 19.0 17.0 C 19.0 17.0 19.0 17.0 18.0 17.0 C 19.0 15.0 20.0 14.0 20.0 12.0 C 20.0 7.0 16.0 3.0 11.0 3.0 ZM 14.0 11.0 L 8.0 11.0 L 8.0 13.0 L 14.0 13.0 L 14.0 11.0 Z";
}
#eye {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 14.0 6.0 C 7.0 6.0 2.0 14.0 2.0 14.0 C 2.0 14.0 7.0 22.0 14.0 22.0 C 21.0 22.0 26.0 14.0 26.0 14.0 C 26.0 14.0 21.0 6.0 14.0 6.0 ZM 14.0 19.0 C 11.0 19.0 9.0 17.0 9.0 14.0 C 9.0 11.0 11.0 9.0 14.0 9.0 C 17.0 9.0 19.0 11.0 19.0 14.0 C 19.0 17.0 17.0 19.0 14.0 19.0 ZM 14.0 12.0 C 13.0 12.0 12.0 13.0 12.0 14.0 C 12.0 15.0 13.0 16.0 14.0 16.0 C 15.0 16.0 16.0 15.0 16.0 14.0 C 16.0 13.0 15.0 12.0 14.0 12.0 Z";
}
#compose {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 24.0 6.0 C 24.0 6.0 24.0 7.0 24.0 7.0 L 21.0 4.0 C 21.0 4.0 21.0 3.0 21.0 3.0 C 22.0 2.0 24.0 2.0 24.0 3.0 C 25.0 4.0 25.0 5.0 24.0 6.0 ZM 13.0 18.0 L 10.0 15.0 L 20.0 5.0 L 23.0 8.0 L 13.0 18.0 ZM 12.0 19.0 L 8.0 20.0 L 9.0 16.0 L 12.0 19.0 ZM 5.0 6.0 L 5.0 22.0 L 21.0 22.0 L 21.0 13.0 C 21.0 13.0 24.0 9.0 24.0 9.0 C 24.0 14.0 24.0 20.0 24.0 23.0 C 24.0 24.0 23.0 25.0 22.0 25.0 C 19.0 25.0 7.0 25.0 4.0 25.0 C 3.0 25.0 2.0 24.0 2.0 23.0 C 2.0 23.0 2.0 10.0 2.0 5.0 C 2.0 4.0 3.0 3.0 4.0 3.0 C 7.0 3.0 13.0 3.0 18.0 3.0 C 18.0 3.0 15.0 6.0 15.0 6.0 L 5.0 6.0 Z";
}
#rocket {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 18.0 8.0 C 18.0 7.0 19.0 6.0 20.0 6.0 C 21.0 6.0 22.0 7.0 22.0 8.0 C 22.0 9.0 21.0 10.0 20.0 10.0 C 19.0 10.0 18.0 9.0 18.0 8.0 ZM 25.0 3.0 C 25.0 3.0 14.0 4.0 12.0 11.0 C 12.0 11.0 9.0 10.0 7.0 13.0 C 5.0 15.0 3.0 18.0 3.0 18.0 C 3.0 18.0 7.0 15.0 8.0 16.0 C 9.0 18.0 8.0 19.0 8.0 19.0 L 9.0 20.0 C 9.0 20.0 10.0 19.0 12.0 20.0 C 13.0 21.0 10.0 25.0 10.0 25.0 C 10.0 25.0 13.0 23.0 15.0 21.0 C 18.0 19.0 17.0 16.0 17.0 16.0 C 24.0 14.0 25.0 3.0 25.0 3.0 ZM 7.0 19.0 C 7.0 19.0 3.0 20.0 4.0 24.0 C 8.0 25.0 9.0 21.0 9.0 21.0 C 7.0 23.0 5.0 23.0 5.0 23.0 C 5.0 23.0 5.0 21.0 7.0 19.0 Z";
}
#cart {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 8.0 19.0 C 8.0 19.0 8.0 19.0 9.0 19.0 C 9.0 19.0 24.0 19.0 24.0 19.0 C 24.0 19.0 24.0 19.0 24.0 19.0 C 24.0 18.0 24.0 18.0 24.0 18.0 C 24.0 18.0 9.0 18.0 9.0 18.0 C 8.0 18.0 8.0 18.0 8.0 19.0 ZM 20.0 22.0 C 20.0 23.0 21.0 24.0 22.0 24.0 C 23.0 24.0 24.0 23.0 24.0 22.0 C 24.0 21.0 23.0 20.0 22.0 20.0 C 21.0 20.0 20.0 21.0 20.0 22.0 ZM 8.0 22.0 C 8.0 23.0 9.0 24.0 10.0 24.0 C 11.0 24.0 12.0 23.0 12.0 22.0 C 12.0 21.0 11.0 20.0 10.0 20.0 C 9.0 20.0 8.0 21.0 8.0 22.0 ZM 24.0 17.0 L 26.0 8.0 L 6.0 7.0 C 6.0 7.0 5.0 6.0 5.0 6.0 C 5.0 6.0 5.0 6.0 5.0 5.0 C 5.0 5.0 4.0 4.0 3.0 4.0 C 3.0 4.0 2.0 5.0 2.0 5.0 C 2.0 6.0 3.0 7.0 3.0 7.0 C 4.0 7.0 4.0 7.0 4.0 7.0 C 4.0 7.0 5.0 8.0 5.0 8.0 L 8.0 17.0 L 24.0 17.0 Z";
}
#tag {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 12.0 3.0 L 2.0 3.0 L 2.0 12.0 L 16.0 26.0 L 25.0 16.0 L 12.0 3.0 ZM 7.0 10.0 C 6.0 10.0 5.0 9.0 5.0 8.0 C 5.0 7.0 6.0 6.0 7.0 6.0 C 8.0 6.0 9.0 7.0 9.0 8.0 C 9.0 9.0 8.0 10.0 7.0 10.0 Z";
}
#repeat {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 19.0 19.0 L 5.0 19.0 L 5.0 14.0 L 2.0 14.0 L 2.0 19.0 L 2.0 23.0 L 5.0 23.0 L 19.0 23.0 L 19.0 26.0 L 25.0 20.0 L 19.0 15.0 L 19.0 19.0 ZM 23.0 5.0 L 9.0 5.0 L 9.0 2.0 L 3.0 7.0 L 9.0 13.0 L 9.0 9.0 L 23.0 9.0 L 23.0 14.0 L 26.0 14.0 L 26.0 9.0 L 26.0 5.0 L 23.0 5.0 Z";
}
#shuffle {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 10.0 10.0 C 9.0 10.0 9.0 9.0 8.0 8.0 C 7.0 8.0 6.0 7.0 4.0 7.0 C 4.0 7.0 1.0 7.0 1.0 7.0 L 1.0 11.0 C 1.0 11.0 4.0 11.0 4.0 11.0 C 5.0 11.0 6.0 11.0 7.0 12.0 C 7.0 13.0 7.0 13.0 8.0 13.0 C 8.0 12.0 8.0 12.0 9.0 12.0 C 9.0 11.0 9.0 11.0 10.0 10.0 C 10.0 10.0 10.0 10.0 10.0 10.0 ZM 13.0 19.0 C 14.0 19.0 14.0 19.0 15.0 20.0 C 16.0 20.0 17.0 21.0 19.0 21.0 C 19.0 21.0 22.0 21.0 22.0 21.0 L 22.0 24.0 L 28.0 20.0 L 22.0 15.0 L 22.0 18.0 C 22.0 18.0 19.0 18.0 19.0 18.0 C 19.0 18.0 17.0 18.0 16.0 17.0 C 16.0 16.0 16.0 16.0 15.0 16.0 C 15.0 16.0 15.0 17.0 14.0 17.0 C 14.0 18.0 14.0 18.0 13.0 19.0 C 13.0 19.0 13.0 19.0 13.0 19.0 ZM 19.0 11.0 C 19.0 11.0 19.0 11.0 19.0 11.0 L 22.0 11.0 L 22.0 14.0 L 28.0 9.0 L 22.0 4.0 L 22.0 8.0 C 22.0 8.0 19.0 8.0 19.0 8.0 C 17.0 8.0 15.0 9.0 14.0 10.0 C 12.0 12.0 10.0 13.0 8.0 15.0 C 8.0 16.0 7.0 17.0 6.0 17.0 C 5.0 18.0 5.0 18.0 4.0 18.0 C 4.0 18.0 4.0 18.0 4.0 18.0 L 1.0 18.0 L 1.0 22.0 C 1.0 22.0 4.0 22.0 4.0 22.0 C 6.0 22.0 8.0 20.0 9.0 19.0 C 11.0 18.0 13.0 15.0 15.0 14.0 C 15.0 13.0 16.0 12.0 17.0 11.0 C 18.0 11.0 18.0 11.0 19.0 11.0 C 19.0 11.0 19.0 11.0 19.0 11.0 Z";
}
#undo {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 14.0 3.0 C 11.0 3.0 8.0 4.0 6.0 6.0 C 6.0 6.0 3.0 3.0 3.0 3.0 L 3.0 12.0 L 12.0 12.0 C 12.0 12.0 8.0 8.0 8.0 8.0 C 10.0 7.0 12.0 6.0 14.0 6.0 C 18.0 6.0 22.0 10.0 22.0 14.0 C 22.0 18.0 18.0 22.0 14.0 22.0 C 11.0 22.0 9.0 20.0 7.0 18.0 C 7.0 18.0 4.0 20.0 4.0 20.0 C 6.0 23.0 10.0 25.0 14.0 25.0 C 20.0 25.0 25.0 20.0 25.0 14.0 C 25.0 8.0 20.0 3.0 14.0 3.0 Z";
}
#settings {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 27.0 16.0 L 27.0 12.0 C 27.0 12.0 25.0 12.0 25.0 12.0 C 24.0 11.0 24.0 9.0 23.0 8.0 C 23.0 8.0 25.0 6.0 25.0 6.0 L 22.0 4.0 C 22.0 4.0 20.0 5.0 20.0 5.0 C 19.0 4.0 18.0 4.0 16.0 3.0 C 16.0 3.0 16.0 1.0 16.0 1.0 L 12.0 1.0 C 12.0 1.0 12.0 3.0 12.0 3.0 C 11.0 3.0 9.0 4.0 8.0 5.0 C 8.0 5.0 6.0 3.0 6.0 3.0 L 4.0 6.0 C 4.0 6.0 5.0 8.0 5.0 8.0 C 4.0 9.0 4.0 10.0 3.0 12.0 C 3.0 12.0 1.0 12.0 1.0 12.0 L 1.0 16.0 C 1.0 16.0 3.0 16.0 3.0 16.0 C 4.0 17.0 4.0 19.0 5.0 20.0 C 5.0 20.0 3.0 22.0 3.0 22.0 L 6.0 24.0 C 6.0 24.0 8.0 23.0 8.0 23.0 C 9.0 24.0 10.0 24.0 12.0 24.0 C 12.0 24.0 12.0 27.0 12.0 27.0 L 16.0 27.0 C 16.0 27.0 16.0 25.0 16.0 25.0 C 17.0 24.0 19.0 24.0 20.0 23.0 C 20.0 23.0 22.0 25.0 22.0 25.0 L 24.0 22.0 C 24.0 22.0 23.0 20.0 23.0 20.0 C 24.0 19.0 24.0 18.0 25.0 16.0 C 25.0 16.0 27.0 16.0 27.0 16.0 ZM 14.0 19.0 C 11.0 19.0 9.0 17.0 9.0 14.0 C 9.0 11.0 11.0 9.0 14.0 9.0 C 17.0 9.0 19.0 11.0 19.0 14.0 C 19.0 17.0 17.0 19.0 14.0 19.0 Z";
}
#tool {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 23.0 21.0 C 22.0 20.0 21.0 20.0 21.0 21.0 C 20.0 21.0 20.0 22.0 21.0 23.0 C 21.0 23.0 22.0 23.0 23.0 23.0 C 23.0 22.0 23.0 21.0 23.0 21.0 ZM 20.0 24.0 C 20.0 24.0 20.0 24.0 20.0 24.0 C 20.0 24.0 11.0 15.0 11.0 15.0 C 9.0 15.0 6.0 15.0 5.0 13.0 C 3.0 12.0 3.0 10.0 3.0 8.0 C 3.0 8.0 7.0 11.0 7.0 11.0 L 11.0 10.0 L 12.0 6.0 C 12.0 6.0 8.0 2.0 8.0 2.0 C 10.0 2.0 12.0 2.0 14.0 4.0 C 15.0 6.0 16.0 8.0 15.0 10.0 C 15.0 10.0 24.0 20.0 24.0 20.0 C 24.0 20.0 24.0 20.0 24.0 20.0 C 25.0 21.0 25.0 23.0 24.0 24.0 C 23.0 25.0 21.0 25.0 20.0 24.0 Z";
}
#calendar {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 20.0 2.0 C 20.0 2.0 20.0 4.0 20.0 4.0 C 20.0 5.0 20.0 5.0 21.0 5.0 C 22.0 5.0 22.0 5.0 22.0 4.0 C 22.0 4.0 22.0 2.0 22.0 2.0 C 22.0 1.0 22.0 1.0 21.0 1.0 C 20.0 1.0 20.0 1.0 20.0 2.0 ZM 3.0 9.0 L 24.0 9.0 C 24.0 9.0 24.0 23.0 24.0 23.0 C 24.0 25.0 24.0 25.0 22.0 25.0 C 22.0 25.0 5.0 25.0 5.0 25.0 C 3.0 25.0 3.0 25.0 3.0 23.0 C 3.0 23.0 3.0 9.0 3.0 9.0 ZM 1.0 6.0 C 1.0 6.0 1.0 24.0 1.0 24.0 C 1.0 26.0 2.0 27.0 4.0 27.0 C 4.0 27.0 23.0 27.0 23.0 27.0 C 25.0 27.0 26.0 26.0 26.0 24.0 C 26.0 24.0 26.0 6.0 26.0 6.0 C 26.0 4.0 25.0 3.0 23.0 3.0 C 23.0 3.0 23.0 5.0 23.0 5.0 C 23.0 6.0 23.0 6.0 22.0 6.0 C 22.0 6.0 20.0 6.0 20.0 6.0 C 19.0 6.0 19.0 6.0 19.0 5.0 C 19.0 5.0 19.0 3.0 19.0 3.0 L 8.0 3.0 C 8.0 3.0 8.0 5.0 8.0 5.0 C 8.0 6.0 8.0 6.0 7.0 6.0 C 7.0 6.0 5.0 6.0 5.0 6.0 C 4.0 6.0 4.0 6.0 4.0 5.0 C 4.0 5.0 4.0 3.0 4.0 3.0 C 2.0 3.0 1.0 4.0 1.0 6.0 ZM 5.0 2.0 C 5.0 2.0 5.0 4.0 5.0 4.0 C 5.0 5.0 5.0 5.0 6.0 5.0 C 7.0 5.0 7.0 5.0 7.0 4.0 C 7.0 4.0 7.0 2.0 7.0 2.0 C 7.0 1.0 7.0 1.0 6.0 1.0 C 5.0 1.0 5.0 1.0 5.0 2.0 Z";
}
#clock {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 14.0 25.0 C 8.0 25.0 3.0 20.0 3.0 14.0 C 3.0 8.0 8.0 3.0 14.0 3.0 C 20.0 3.0 25.0 8.0 25.0 14.0 C 25.0 20.0 20.0 25.0 14.0 25.0 ZM 14.0 5.0 C 9.0 5.0 5.0 9.0 5.0 14.0 C 5.0 19.0 9.0 23.0 14.0 23.0 C 19.0 23.0 23.0 19.0 23.0 14.0 C 23.0 9.0 19.0 5.0 14.0 5.0 ZM 19.0 16.0 C 19.0 16.0 14.0 16.0 14.0 16.0 C 13.0 16.0 13.0 16.0 13.0 15.0 C 13.0 15.0 13.0 8.0 13.0 8.0 C 13.0 7.0 13.0 7.0 14.0 7.0 C 15.0 7.0 15.0 7.0 15.0 8.0 C 15.0 8.0 15.0 14.0 15.0 14.0 C 15.0 14.0 19.0 14.0 19.0 14.0 C 20.0 14.0 20.0 14.0 20.0 15.0 C 20.0 16.0 20.0 16.0 19.0 16.0 Z";
}
#alarm {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 15.0 6.0 C 14.0 5.0 15.0 5.0 16.0 6.0 C 19.0 9.0 20.0 13.0 20.0 17.0 C 20.0 17.0 19.0 19.0 19.0 17.0 C 18.0 15.0 18.0 9.0 15.0 6.0 ZM 25.0 20.0 C 24.0 20.0 22.0 17.0 22.0 17.0 C 22.0 11.0 20.0 7.0 17.0 6.0 C 17.0 4.0 15.0 2.0 14.0 2.0 C 13.0 2.0 11.0 4.0 11.0 6.0 C 8.0 7.0 6.0 11.0 6.0 17.0 C 6.0 17.0 4.0 20.0 3.0 20.0 C 3.0 20.0 3.0 21.0 3.0 21.0 L 25.0 21.0 C 25.0 21.0 25.0 20.0 25.0 20.0 ZM 14.0 26.0 C 16.0 26.0 17.0 25.0 17.0 23.0 C 17.0 23.0 11.0 23.0 11.0 23.0 C 11.0 25.0 12.0 26.0 14.0 26.0 Z";
}
#humidity {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 8.8 10.6744 C 8.8 13.346 11.128 15.5116 14 15.5116 C 16.872 15.5116 19.2 13.346 19.2 10.6744 C 19.2 8.0029 14 1 14 1 C 14 1 8.8 8.0029 8.8 10.6744 ZM 16.6 22.1628 C 16.6 24.8344 18.9281 27 21.8 27 C 24.672 27 27 24.8344 27 22.1628 C 27 19.4913 21.8 12.4884 21.8 12.4884 C 21.8 12.4884 16.6 19.4913 16.6 22.1628 ZM 1 22.1628 C 1 24.8344 3.328 27 6.2 27 C 9.0719 27 11.4 24.8344 11.4 22.1628 C 11.4 19.4913 6.2 12.4884 6.2 12.4884 C 6.2 12.4884 1 19.4913 1 22.1628 Z";
}
#web {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 17.0 15.0 C 17.0 15.0 19.0 10.0 20.0 8.0 C 20.0 8.0 17.0 8.0 17.0 8.0 C 17.0 8.0 17.0 9.0 17.0 9.0 C 17.0 8.0 16.0 8.0 14.0 8.0 C 12.0 8.0 9.0 10.0 8.0 13.0 C 7.0 17.0 9.0 19.0 12.0 19.0 C 13.0 19.0 14.0 18.0 15.0 17.0 C 16.0 18.0 17.0 19.0 18.0 19.0 C 21.0 19.0 24.0 16.0 24.0 12.0 C 24.0 7.0 20.0 3.0 14.0 3.0 C 9.0 3.0 4.0 7.0 4.0 14.0 C 4.0 20.0 8.0 24.0 14.0 24.0 C 18.0 24.0 22.0 23.0 24.0 20.0 C 24.0 20.0 21.0 20.0 21.0 20.0 C 19.0 21.0 17.0 22.0 14.0 22.0 C 9.0 22.0 6.0 19.0 6.0 14.0 C 6.0 9.0 10.0 5.0 14.0 5.0 C 19.0 5.0 22.0 8.0 22.0 12.0 C 22.0 15.0 20.0 17.0 18.0 17.0 C 18.0 17.0 17.0 16.0 17.0 15.0 C 17.0 15.0 17.0 15.0 17.0 15.0 ZM 16.0 13.0 C 15.0 15.0 14.0 17.0 12.0 17.0 C 11.0 17.0 10.0 16.0 11.0 14.0 C 11.0 12.0 13.0 10.0 14.0 10.0 C 16.0 10.0 16.0 12.0 16.0 13.0 C 16.0 13.0 16.0 13.0 16.0 13.0 Z";
}
#mail {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 17.0 15.0 L 14.0 18.0 L 11.0 15.0 C 11.0 15.0 3.0 21.0 3.0 21.0 C 3.0 21.0 3.0 21.0 4.0 21.0 C 4.0 21.0 24.0 21.0 24.0 21.0 L 17.0 15.0 ZM 2.0 7.0 C 2.0 7.0 2.0 7.0 2.0 8.0 C 2.0 8.0 2.0 20.0 2.0 20.0 C 2.0 20.0 2.0 20.0 2.0 20.0 C 2.0 20.0 10.0 14.0 10.0 14.0 C 10.0 14.0 2.0 7.0 2.0 7.0 ZM 26.0 8.0 C 26.0 7.0 26.0 7.0 26.0 7.0 C 26.0 7.0 18.0 14.0 18.0 14.0 C 18.0 14.0 26.0 20.0 26.0 20.0 C 26.0 20.0 26.0 20.0 26.0 20.0 C 26.0 20.0 26.0 8.0 26.0 8.0 ZM 14.0 15.0 C 14.0 15.0 25.0 6.0 25.0 6.0 C 25.0 6.0 25.0 6.0 25.0 6.0 C 25.0 6.0 4.0 6.0 4.0 6.0 C 3.0 6.0 3.0 6.0 3.0 6.0 C 3.0 6.0 14.0 15.0 14.0 15.0 Z";
}
#phone {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 25.0 21.0 C 25.0 21.0 25.0 20.0 25.0 20.0 C 21.0 16.0 21.0 16.0 21.0 16.0 C 21.0 16.0 20.0 16.0 20.0 16.0 C 20.0 16.0 18.0 18.0 18.0 18.0 L 23.0 23.0 C 23.0 23.0 25.0 21.0 25.0 21.0 ZM 12.0 8.0 C 12.0 8.0 12.0 7.0 12.0 7.0 C 8.0 3.0 8.0 3.0 8.0 3.0 C 8.0 3.0 7.0 3.0 7.0 3.0 C 7.0 3.0 5.0 5.0 5.0 5.0 L 10.0 10.0 C 10.0 10.0 12.0 8.0 12.0 8.0 ZM 4.0 6.0 C 3.0 7.0 1.0 12.0 8.0 20.0 C 15.0 27.0 21.0 25.0 22.0 24.0 C 22.0 24.0 17.0 19.0 17.0 19.0 C 16.0 20.0 15.0 19.0 13.0 18.0 C 12.0 17.0 11.0 16.0 10.0 14.0 C 9.0 13.0 8.0 12.0 9.0 11.0 C 9.0 11.0 4.0 6.0 4.0 6.0 Z";
}
#male {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 25.0 23.0 C 25.0 24.0 25.0 25.0 25.0 25.0 C 25.0 25.0 3.0 25.0 3.0 25.0 C 3.0 25.0 3.0 24.0 3.0 23.0 C 3.0 23.0 3.0 23.0 3.0 23.0 C 3.0 23.0 3.0 23.0 3.0 23.0 C 3.0 23.0 3.0 21.0 6.0 20.0 C 7.0 19.0 9.0 17.0 12.0 17.0 C 11.0 16.0 11.0 15.0 10.0 13.0 C 10.0 12.0 10.0 11.0 10.0 10.0 C 10.0 9.0 10.0 8.0 10.0 7.0 C 10.0 5.0 12.0 4.0 14.0 4.0 C 16.0 4.0 18.0 5.0 18.0 7.0 C 18.0 8.0 18.0 9.0 18.0 10.0 C 18.0 11.0 18.0 12.0 18.0 13.0 C 17.0 15.0 17.0 16.0 16.0 17.0 C 19.0 17.0 21.0 19.0 22.0 20.0 C 25.0 21.0 25.0 23.0 25.0 23.0 C 25.0 23.0 25.0 23.0 25.0 23.0 C 25.0 23.0 25.0 23.0 25.0 23.0 Z";
}
#attachment {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 2.0 16.0 C 2.0 16.0 2.0 16.0 2.0 16.0 L 13.0 5.0 C 13.0 5.0 13.0 5.0 13.0 5.0 C 13.0 4.0 14.0 4.0 14.0 5.0 C 15.0 5.0 15.0 6.0 14.0 6.0 C 14.0 6.0 14.0 6.0 14.0 6.0 C 14.0 6.0 14.0 6.0 14.0 6.0 C 14.0 6.0 14.0 6.0 14.0 6.0 C 14.0 6.0 14.0 6.0 14.0 6.0 C 14.0 6.0 4.0 17.0 4.0 17.0 C 4.0 17.0 4.0 17.0 4.0 17.0 C 4.0 17.0 4.0 17.0 4.0 17.0 C 2.0 18.0 2.0 21.0 4.0 23.0 C 6.0 25.0 8.0 25.0 10.0 23.0 C 10.0 23.0 10.0 23.0 10.0 23.0 C 10.0 23.0 10.0 23.0 10.0 23.0 C 10.0 23.0 24.0 9.0 24.0 9.0 C 24.0 9.0 24.0 9.0 24.0 9.0 C 25.0 8.0 25.0 6.0 23.0 5.0 C 22.0 4.0 21.0 4.0 20.0 5.0 C 20.0 5.0 20.0 5.0 20.0 5.0 L 9.0 16.0 C 9.0 16.0 9.0 16.0 9.0 16.0 C 9.0 16.0 9.0 16.0 9.0 16.0 C 8.0 17.0 9.0 18.0 9.0 18.0 C 10.0 18.0 10.0 18.0 11.0 18.0 C 11.0 18.0 16.0 13.0 16.0 13.0 C 16.0 13.0 17.0 13.0 17.0 13.0 C 17.0 13.0 18.0 14.0 17.0 14.0 C 17.0 14.0 17.0 14.0 17.0 14.0 C 17.0 14.0 12.0 19.0 12.0 19.0 C 12.0 19.0 12.0 19.0 12.0 19.0 C 11.0 20.0 9.0 20.0 8.0 19.0 C 7.0 18.0 6.0 16.0 7.0 15.0 C 7.0 15.0 8.0 15.0 8.0 15.0 C 8.0 15.0 8.0 15.0 8.0 15.0 L 18.0 4.0 C 18.0 4.0 18.0 4.0 18.0 4.0 C 20.0 2.0 23.0 2.0 25.0 4.0 C 27.0 5.0 27.0 8.0 25.0 10.0 C 25.0 10.0 25.0 11.0 25.0 11.0 C 25.0 11.0 25.0 11.0 25.0 11.0 C 25.0 11.0 25.0 11.0 25.0 11.0 C 25.0 11.0 25.0 11.0 25.0 11.0 C 25.0 11.0 11.0 24.0 11.0 24.0 C 9.0 27.0 5.0 27.0 2.0 24.0 C 0.0 22.0 0.0 18.0 2.0 16.0 Z";
}
#link {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 16.0 14.0 C 15.0 15.0 14.0 15.0 13.0 15.0 C 13.0 15.0 10.0 15.0 10.0 15.0 L 8.0 15.0 C 8.0 15.0 8.0 15.0 8.0 15.0 C 6.0 15.0 4.0 13.0 4.0 12.0 C 4.0 12.0 4.0 11.0 4.0 11.0 C 4.0 9.0 6.0 7.0 8.0 7.0 C 8.0 7.0 13.0 7.0 13.0 7.0 C 15.0 7.0 17.0 8.0 17.0 10.0 C 17.0 10.0 19.0 10.0 19.0 10.0 C 19.0 7.0 16.0 5.0 14.0 5.0 C 14.0 5.0 7.0 5.0 7.0 5.0 C 5.0 5.0 2.0 8.0 2.0 10.0 C 2.0 10.0 2.0 12.0 2.0 12.0 C 2.0 14.0 5.0 17.0 7.0 17.0 C 7.0 17.0 8.0 17.0 8.0 17.0 L 10.0 17.0 C 10.0 17.0 14.0 17.0 14.0 17.0 C 16.0 17.0 17.0 16.0 18.0 14.0 C 18.0 14.0 16.0 14.0 16.0 14.0 ZM 19.0 11.0 L 17.0 11.0 C 17.0 11.0 13.0 11.0 13.0 11.0 C 11.0 11.0 10.0 12.0 9.0 14.0 C 9.0 14.0 11.0 14.0 11.0 14.0 C 12.0 13.0 13.0 13.0 14.0 13.0 C 14.0 13.0 17.0 13.0 17.0 13.0 L 19.0 13.0 C 19.0 13.0 20.0 13.0 20.0 13.0 C 22.0 13.0 24.0 15.0 24.0 17.0 C 24.0 17.0 24.0 18.0 24.0 18.0 C 24.0 19.0 22.0 21.0 20.0 21.0 C 20.0 21.0 14.0 21.0 14.0 21.0 C 12.0 21.0 10.0 20.0 10.0 18.0 C 10.0 18.0 8.0 18.0 8.0 18.0 C 8.0 21.0 11.0 23.0 13.0 23.0 C 13.0 23.0 21.0 23.0 21.0 23.0 C 23.0 23.0 26.0 20.0 26.0 18.0 C 26.0 18.0 26.0 16.0 26.0 16.0 C 26.0 14.0 23.0 11.0 21.0 11.0 C 21.0 11.0 19.0 11.0 19.0 11.0 Z";
}
#cloud {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 24.0 13.0 C 24.0 13.0 24.0 13.0 24.0 13.0 C 24.0 8.0 20.0 5.0 16.0 5.0 C 13.0 5.0 10.0 7.0 9.0 9.0 C 9.0 9.0 8.0 9.0 7.0 9.0 C 5.0 9.0 3.0 10.0 3.0 12.0 C 3.0 13.0 3.0 13.0 4.0 13.0 C 2.0 14.0 1.0 16.0 1.0 18.0 C 1.0 21.0 3.0 23.0 6.0 23.0 C 6.0 23.0 6.0 23.0 6.0 23.0 L 6.0 23.0 C 6.0 23.0 6.0 23.0 6.0 23.0 C 6.0 23.0 22.0 23.0 22.0 23.0 C 22.0 23.0 22.0 23.0 22.0 23.0 C 25.0 23.0 27.0 21.0 27.0 18.0 C 27.0 16.0 26.0 14.0 24.0 13.0 C 24.0 13.0 24.0 13.0 24.0 13.0 C 24.0 13.0 24.0 13.0 24.0 13.0 Z";
}
#graph {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 24.0 19.0 L 24.0 15.0 L 15.0 15.0 L 15.0 11.0 C 15.0 11.0 17.0 11.0 17.0 11.0 C 18.0 11.0 19.0 10.0 19.0 9.0 C 19.0 9.0 19.0 6.0 19.0 6.0 C 19.0 5.0 18.0 4.0 17.0 4.0 C 17.0 4.0 11.0 4.0 11.0 4.0 C 10.0 4.0 9.0 5.0 9.0 6.0 C 9.0 6.0 9.0 9.0 9.0 9.0 C 9.0 10.0 10.0 11.0 11.0 11.0 C 11.0 11.0 13.0 11.0 13.0 11.0 L 13.0 15.0 L 4.0 15.0 L 4.0 19.0 C 4.0 19.0 3.0 19.0 3.0 19.0 C 2.0 19.0 1.0 20.0 1.0 21.0 C 1.0 21.0 1.0 22.0 1.0 22.0 C 1.0 23.0 2.0 24.0 3.0 24.0 C 3.0 24.0 6.0 24.0 6.0 24.0 C 7.0 24.0 8.0 23.0 8.0 22.0 C 8.0 22.0 8.0 21.0 8.0 21.0 C 8.0 20.0 7.0 19.0 6.0 19.0 C 6.0 19.0 5.0 19.0 5.0 19.0 L 5.0 16.0 L 13.0 16.0 L 13.0 19.0 C 13.0 19.0 12.0 19.0 12.0 19.0 C 11.0 19.0 10.0 20.0 10.0 21.0 C 10.0 21.0 10.0 22.0 10.0 22.0 C 10.0 23.0 11.0 24.0 12.0 24.0 C 12.0 24.0 16.0 24.0 16.0 24.0 C 17.0 24.0 18.0 23.0 18.0 22.0 C 18.0 22.0 18.0 21.0 18.0 21.0 C 18.0 20.0 17.0 19.0 16.0 19.0 C 16.0 19.0 15.0 19.0 15.0 19.0 L 15.0 16.0 L 23.0 16.0 L 23.0 19.0 C 23.0 19.0 22.0 19.0 22.0 19.0 C 21.0 19.0 20.0 20.0 20.0 21.0 C 20.0 21.0 20.0 22.0 20.0 22.0 C 20.0 23.0 21.0 24.0 22.0 24.0 C 22.0 24.0 25.0 24.0 25.0 24.0 C 26.0 24.0 27.0 23.0 27.0 22.0 C 27.0 22.0 27.0 21.0 27.0 21.0 C 27.0 20.0 26.0 19.0 25.0 19.0 C 25.0 19.0 24.0 19.0 24.0 19.0 Z";
}
#trash {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 18.0 8.0 L 18.0 20.0 L 19.0 20.0 L 19.0 8.0 L 18.0 8.0 ZM 15.0 8.0 L 15.0 20.0 L 16.0 20.0 L 16.0 8.0 L 15.0 8.0 ZM 12.0 8.0 L 12.0 20.0 L 13.0 20.0 L 13.0 8.0 L 12.0 8.0 ZM 9.0 8.0 L 9.0 20.0 L 10.0 20.0 L 10.0 8.0 L 9.0 8.0 ZM 5.0 7.0 C 5.0 7.0 5.0 21.0 5.0 21.0 C 5.0 23.0 6.0 24.0 8.0 24.0 C 8.0 24.0 20.0 24.0 20.0 24.0 C 22.0 24.0 23.0 23.0 23.0 21.0 C 23.0 21.0 23.0 7.0 23.0 7.0 L 21.0 7.0 C 21.0 7.0 21.0 21.0 21.0 21.0 C 21.0 22.0 21.0 22.0 20.0 22.0 C 20.0 22.0 8.0 22.0 8.0 22.0 C 7.0 22.0 7.0 22.0 7.0 21.0 C 7.0 21.0 7.0 7.0 7.0 7.0 L 5.0 7.0 ZM 18.0 4.0 L 18.0 3.0 L 10.0 3.0 L 10.0 4.0 L 4.0 4.0 L 4.0 6.0 L 24.0 6.0 L 24.0 4.0 L 18.0 4.0 Z";
}
#head-phones {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 19.0 17.0 C 19.0 17.0 19.0 23.0 19.0 23.0 C 19.0 24.0 20.0 25.0 21.0 25.0 C 22.0 25.0 23.0 24.0 23.0 23.0 C 23.0 23.0 23.0 17.0 23.0 17.0 C 23.0 16.0 22.0 15.0 21.0 15.0 C 20.0 15.0 19.0 16.0 19.0 17.0 ZM 5.0 17.0 C 5.0 17.0 5.0 23.0 5.0 23.0 C 5.0 24.0 6.0 25.0 7.0 25.0 C 8.0 25.0 9.0 24.0 9.0 23.0 C 9.0 23.0 9.0 17.0 9.0 17.0 C 9.0 16.0 8.0 15.0 7.0 15.0 C 6.0 15.0 5.0 16.0 5.0 17.0 ZM 25.0 20.0 C 26.0 20.0 26.0 19.0 26.0 19.0 C 26.0 19.0 26.0 16.0 26.0 16.0 C 26.0 9.0 21.0 3.0 14.0 3.0 C 8.0 3.0 2.0 9.0 2.0 16.0 C 2.0 16.0 2.0 19.0 2.0 19.0 C 2.0 19.0 2.0 20.0 3.0 20.0 C 3.0 20.0 4.0 19.0 4.0 19.0 C 4.0 19.0 4.0 16.0 4.0 16.0 C 4.0 10.0 9.0 5.0 14.0 5.0 C 20.0 5.0 24.0 9.0 24.0 16.0 C 24.0 16.0 24.0 19.0 24.0 19.0 C 24.0 19.0 25.0 20.0 25.0 20.0 Z";
}
#music {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 9.0 5.0 C 9.0 5.0 9.0 18.0 9.0 18.0 C 9.0 18.0 8.0 17.0 7.0 17.0 C 4.0 17.0 3.0 19.0 3.0 20.0 C 3.0 22.0 4.0 24.0 7.0 24.0 C 10.0 24.0 11.0 22.0 11.0 20.0 C 11.0 20.0 11.0 10.0 11.0 10.0 L 22.0 8.0 C 22.0 8.0 22.0 18.0 22.0 18.0 C 22.0 18.0 21.0 17.0 20.0 17.0 C 17.0 17.0 16.0 19.0 16.0 20.0 C 16.0 22.0 17.0 24.0 20.0 24.0 C 23.0 24.0 24.0 22.0 24.0 20.0 C 24.0 20.0 24.0 3.0 24.0 3.0 L 9.0 5.0 Z";
}
#volume {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 24.0 14.0 C 24.0 18.0 23.0 21.0 21.0 24.0 C 21.0 24.0 22.0 25.0 22.0 25.0 C 24.0 22.0 26.0 18.0 26.0 14.0 C 26.0 10.0 24.0 6.0 22.0 3.0 C 22.0 3.0 21.0 4.0 21.0 4.0 C 23.0 7.0 24.0 10.0 24.0 14.0 ZM 19.0 14.0 C 19.0 16.0 18.0 18.0 17.0 20.0 C 17.0 20.0 18.0 21.0 18.0 21.0 C 20.0 19.0 21.0 17.0 21.0 14.0 C 21.0 11.0 20.0 9.0 18.0 7.0 C 18.0 7.0 17.0 8.0 17.0 8.0 C 18.0 10.0 19.0 12.0 19.0 14.0 ZM 14.0 14.0 C 14.0 15.0 13.0 15.0 13.0 16.0 C 13.0 16.0 14.0 17.0 14.0 17.0 C 15.0 16.0 16.0 15.0 16.0 14.0 C 16.0 13.0 15.0 12.0 14.0 11.0 C 14.0 11.0 13.0 12.0 13.0 12.0 C 13.0 13.0 14.0 13.0 14.0 14.0 ZM 2.0 17.0 C 2.0 18.0 2.0 18.0 3.0 18.0 C 3.0 18.0 4.0 18.0 4.0 18.0 L 4.0 10.0 C 4.0 10.0 3.0 10.0 3.0 10.0 C 2.0 10.0 2.0 10.0 2.0 11.0 C 2.0 11.0 2.0 17.0 2.0 17.0 ZM 10.0 22.0 C 11.0 22.0 11.0 22.0 11.0 21.0 C 11.0 21.0 11.0 7.0 11.0 7.0 C 11.0 6.0 11.0 6.0 10.0 6.0 C 10.0 6.0 6.0 9.0 6.0 9.0 L 6.0 19.0 C 6.0 19.0 10.0 22.0 10.0 22.0 Z";
}
#photo {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 4.0 7.0 L 24.0 7.0 L 24.0 21.0 L 4.0 21.0 L 4.0 7.0 ZM 5.0 5.0 C 3.0 5.0 2.0 6.0 2.0 8.0 C 2.0 8.0 2.0 20.0 2.0 20.0 C 2.0 22.0 3.0 23.0 5.0 23.0 C 5.0 23.0 23.0 23.0 23.0 23.0 C 25.0 23.0 26.0 22.0 26.0 20.0 C 26.0 20.0 26.0 8.0 26.0 8.0 C 26.0 6.0 25.0 5.0 23.0 5.0 C 23.0 5.0 5.0 5.0 5.0 5.0 ZM 7.0 11.0 C 7.0 12.0 8.0 13.0 9.0 13.0 C 10.0 13.0 11.0 12.0 11.0 11.0 C 11.0 10.0 10.0 9.0 9.0 9.0 C 8.0 9.0 7.0 10.0 7.0 11.0 ZM 5.0 16.0 C 5.0 16.0 5.0 20.0 5.0 20.0 L 23.0 20.0 L 23.0 16.0 C 23.0 16.0 18.0 14.0 16.0 14.0 C 14.0 14.0 13.0 16.0 11.0 16.0 C 9.0 16.0 7.0 14.0 5.0 16.0 Z";
}
#back {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 11.0 16.0 C 11.0 16.0 20.0 21.0 20.0 21.0 C 21.0 21.0 21.0 21.0 21.0 20.0 C 21.0 20.0 21.0 8.0 21.0 8.0 C 21.0 7.0 21.0 7.0 20.0 7.0 C 20.0 7.0 11.0 12.0 11.0 12.0 C 11.0 12.0 11.0 8.0 11.0 8.0 C 11.0 7.0 11.0 7.0 10.0 7.0 C 10.0 7.0 8.0 7.0 8.0 7.0 C 7.0 7.0 7.0 7.0 7.0 8.0 C 7.0 8.0 7.0 19.0 7.0 19.0 C 7.0 20.0 7.0 20.0 8.0 20.0 C 8.0 20.0 10.0 20.0 10.0 20.0 C 11.0 20.0 11.0 20.0 11.0 19.0 C 11.0 19.0 11.0 16.0 11.0 16.0 Z";
}
#rewind {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 21.0 7.0 C 21.0 7.0 14.0 11.0 14.0 11.0 C 14.0 11.0 14.0 8.0 14.0 8.0 C 14.0 7.0 14.0 7.0 13.0 7.0 C 13.0 7.0 6.0 13.0 6.0 13.0 C 5.0 14.0 5.0 14.0 6.0 15.0 C 6.0 15.0 13.0 21.0 13.0 21.0 C 14.0 21.0 14.0 21.0 14.0 20.0 C 14.0 20.0 14.0 17.0 14.0 17.0 C 14.0 17.0 21.0 21.0 21.0 21.0 C 22.0 21.0 23.0 21.0 23.0 20.0 C 23.0 20.0 23.0 8.0 23.0 8.0 C 23.0 7.0 22.0 7.0 21.0 7.0 Z";
}
#pause {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 20.0 19.0 C 20.0 19.0 20.0 9.0 20.0 9.0 C 20.0 8.0 19.0 7.0 19.0 7.0 C 19.0 7.0 18.0 7.0 18.0 7.0 C 17.0 7.0 16.0 8.0 16.0 9.0 C 16.0 9.0 16.0 19.0 16.0 19.0 C 16.0 20.0 17.0 21.0 18.0 21.0 C 18.0 21.0 19.0 21.0 19.0 21.0 C 19.0 21.0 20.0 20.0 20.0 19.0 ZM 12.0 19.0 C 12.0 19.0 12.0 9.0 12.0 9.0 C 12.0 8.0 11.0 7.0 11.0 7.0 C 11.0 7.0 10.0 7.0 10.0 7.0 C 9.0 7.0 8.0 8.0 8.0 9.0 C 8.0 9.0 8.0 19.0 8.0 19.0 C 8.0 20.0 9.0 21.0 10.0 21.0 C 10.0 21.0 11.0 21.0 11.0 21.0 C 11.0 21.0 12.0 20.0 12.0 19.0 Z";
}
#play {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 19.0 13.0 C 19.0 13.0 10.0 7.0 10.0 7.0 C 9.0 7.0 8.0 7.0 8.0 8.0 C 8.0 8.0 8.0 20.0 8.0 20.0 C 8.0 21.0 9.0 21.0 10.0 21.0 C 10.0 21.0 19.0 15.0 19.0 15.0 C 20.0 14.0 20.0 14.0 19.0 13.0 Z";
}
#forward {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 22.0 13.0 C 22.0 13.0 14.0 7.0 14.0 7.0 C 14.0 7.0 13.0 7.0 13.0 8.0 C 13.0 8.0 13.0 11.0 13.0 11.0 C 13.0 11.0 7.0 7.0 7.0 7.0 C 6.0 7.0 5.0 7.0 5.0 8.0 C 5.0 8.0 5.0 20.0 5.0 20.0 C 5.0 21.0 6.0 21.0 7.0 21.0 C 7.0 21.0 13.0 17.0 13.0 17.0 C 13.0 17.0 13.0 20.0 13.0 20.0 C 13.0 21.0 14.0 21.0 14.0 21.0 C 14.0 21.0 22.0 15.0 22.0 15.0 C 23.0 14.0 23.0 14.0 22.0 13.0 Z";
}
#next {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 20.0 7.0 C 20.0 7.0 19.0 7.0 19.0 7.0 C 19.0 7.0 18.0 7.0 18.0 8.0 C 18.0 8.0 18.0 12.0 18.0 12.0 C 18.0 12.0 9.0 7.0 9.0 7.0 C 8.0 7.0 7.0 7.0 7.0 8.0 C 7.0 8.0 7.0 20.0 7.0 20.0 C 7.0 21.0 8.0 21.0 9.0 21.0 C 9.0 21.0 18.0 16.0 18.0 16.0 C 18.0 16.0 18.0 20.0 18.0 20.0 C 18.0 21.0 19.0 21.0 19.0 21.0 C 19.0 21.0 20.0 21.0 20.0 21.0 C 21.0 21.0 21.0 21.0 21.0 20.0 C 21.0 20.0 21.0 8.0 21.0 8.0 C 21.0 7.0 21.0 7.0 20.0 7.0 Z";
}
#eject {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 6.0 19.0 C 5.0 19.0 4.0 20.0 4.0 21.0 C 4.0 22.0 5.0 23.0 6.0 23.0 C 6.0 23.0 22.0 23.0 22.0 23.0 C 23.0 23.0 24.0 22.0 24.0 21.0 C 24.0 20.0 23.0 19.0 22.0 19.0 C 22.0 19.0 6.0 19.0 6.0 19.0 ZM 13.0 6.0 C 13.0 6.0 4.0 15.0 4.0 15.0 C 4.0 16.0 4.0 17.0 5.0 17.0 C 5.0 17.0 23.0 17.0 23.0 17.0 C 24.0 17.0 24.0 16.0 24.0 15.0 C 24.0 15.0 15.0 6.0 15.0 6.0 C 15.0 5.0 13.0 5.0 13.0 6.0 Z";
}
#compass {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 24.0 16.0 C 24.0 10.0 20.0 6.0 14.0 6.0 C 8.0 6.0 4.0 10.0 4.0 16.0 C 4.0 22.0 8.0 26.0 14.0 26.0 C 20.0 26.0 24.0 22.0 24.0 16.0 ZM 14.0 8.0 C 18.0 8.0 22.0 12.0 22.0 16.0 C 22.0 20.0 18.0 24.0 14.0 24.0 C 10.0 24.0 6.0 20.0 6.0 16.0 C 6.0 12.0 10.0 8.0 14.0 8.0 ZM 18.0 12.0 L 12.0 15.0 L 10.0 20.0 L 15.0 18.0 L 18.0 12.0 ZM 13.0 6.0 L 14.0 6.0 L 15.0 6.0 L 15.0 5.0 L 16.0 5.0 L 16.0 2.0 L 16.0 1.0 L 15.0 1.0 L 13.0 1.0 L 12.0 1.0 L 12.0 2.0 L 12.0 4.0 L 12.0 5.0 L 13.0 5.0 L 13.0 6.0 ZM 15.0 4.0 L 13.0 4.0 L 13.0 2.0 L 15.0 2.0 L 15.0 4.0 Z";
}
#globe {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 14.0 3.0 C 8.0 3.0 3.0 8.0 3.0 14.0 C 3.0 20.0 8.0 25.0 14.0 25.0 C 20.0 25.0 25.0 20.0 25.0 14.0 C 25.0 8.0 20.0 3.0 14.0 3.0 C 14.0 3.0 14.0 3.0 14.0 3.0 ZM 14.0 4.0 C 18.0 4.0 21.0 6.0 23.0 10.0 C 23.0 10.0 23.0 10.0 23.0 10.0 C 23.0 10.0 23.0 10.0 23.0 10.0 C 23.0 10.0 23.0 10.0 23.0 10.0 C 23.0 11.0 24.0 12.0 24.0 12.0 C 24.0 12.0 23.0 12.0 23.0 12.0 C 22.0 11.0 23.0 13.0 24.0 13.0 C 24.0 13.0 24.0 14.0 24.0 14.0 C 24.0 16.0 23.0 19.0 22.0 20.0 C 22.0 20.0 22.0 20.0 22.0 20.0 C 22.0 19.0 22.0 18.0 21.0 18.0 C 20.0 18.0 19.0 19.0 18.0 18.0 C 17.0 17.0 18.0 16.0 18.0 15.0 C 19.0 14.0 19.0 13.0 20.0 13.0 C 21.0 13.0 22.0 13.0 22.0 12.0 C 22.0 11.0 22.0 11.0 22.0 11.0 C 22.0 11.0 22.0 11.0 22.0 11.0 C 22.0 11.0 21.0 11.0 21.0 11.0 C 21.0 10.0 21.0 9.0 21.0 10.0 C 21.0 10.0 21.0 12.0 20.0 11.0 C 20.0 12.0 19.0 12.0 19.0 13.0 C 19.0 14.0 17.0 14.0 18.0 13.0 C 18.0 12.0 18.0 11.0 19.0 10.0 C 19.0 10.0 19.0 10.0 19.0 10.0 C 19.0 10.0 19.0 10.0 19.0 10.0 C 19.0 9.0 18.0 8.0 18.0 9.0 C 19.0 9.0 18.0 10.0 18.0 10.0 C 17.0 9.0 17.0 7.0 18.0 7.0 C 18.0 8.0 18.0 7.0 17.0 6.0 C 17.0 7.0 17.0 6.0 17.0 6.0 C 17.0 6.0 17.0 6.0 17.0 6.0 C 17.0 5.0 15.0 6.0 15.0 5.0 C 14.0 5.0 12.0 4.0 11.0 5.0 C 12.0 4.0 12.0 4.0 13.0 4.0 C 13.0 4.0 13.0 4.0 13.0 4.0 C 13.0 4.0 13.0 4.0 13.0 4.0 C 13.0 4.0 14.0 4.0 14.0 4.0 C 14.0 4.0 14.0 4.0 14.0 4.0 ZM 10.0 5.0 C 11.0 6.0 9.0 7.0 10.0 8.0 C 10.0 8.0 10.0 8.0 10.0 8.0 C 11.0 8.0 11.0 8.0 11.0 8.0 C 11.0 8.0 11.0 9.0 10.0 9.0 C 9.0 9.0 9.0 11.0 10.0 11.0 C 10.0 9.0 11.0 10.0 12.0 11.0 C 12.0 12.0 11.0 12.0 11.0 12.0 C 11.0 13.0 10.0 13.0 9.0 13.0 C 8.0 13.0 8.0 14.0 7.0 14.0 C 7.0 13.0 5.0 14.0 6.0 15.0 C 6.0 15.0 7.0 16.0 7.0 16.0 C 7.0 18.0 9.0 18.0 10.0 18.0 C 11.0 19.0 11.0 20.0 12.0 21.0 C 13.0 20.0 15.0 21.0 14.0 22.0 C 14.0 23.0 13.0 23.0 13.0 23.0 C 13.0 23.0 13.0 23.0 13.0 23.0 C 11.0 23.0 12.0 23.0 11.0 23.0 C 11.0 23.0 10.0 23.0 9.0 22.0 C 9.0 22.0 9.0 22.0 9.0 22.0 C 9.0 22.0 8.0 21.0 7.0 20.0 C 7.0 20.0 7.0 20.0 7.0 19.0 C 7.0 19.0 7.0 19.0 7.0 19.0 C 7.0 19.0 7.0 18.0 7.0 18.0 C 6.0 16.0 5.0 15.0 5.0 14.0 C 5.0 13.0 5.0 12.0 5.0 11.0 C 6.0 9.0 8.0 7.0 10.0 5.0 C 10.0 5.0 10.0 5.0 10.0 5.0 ZM 13.0 7.0 C 13.0 7.0 13.0 7.0 13.0 7.0 C 13.0 7.0 13.0 7.0 13.0 7.0 C 12.0 8.0 12.0 7.0 13.0 7.0 C 13.0 7.0 13.0 7.0 13.0 7.0 C 13.0 7.0 13.0 7.0 13.0 7.0 ZM 14.0 7.0 C 14.0 7.0 14.0 7.0 15.0 8.0 C 15.0 9.0 14.0 10.0 13.0 11.0 C 12.0 10.0 13.0 9.0 13.0 9.0 C 12.0 8.0 13.0 7.0 14.0 7.0 C 14.0 7.0 14.0 7.0 14.0 7.0 ZM 12.0 8.0 C 12.0 8.0 12.0 10.0 12.0 10.0 C 11.0 9.0 12.0 9.0 11.0 8.0 C 11.0 8.0 11.0 8.0 12.0 8.0 C 12.0 8.0 12.0 8.0 12.0 8.0 ZM 17.0 11.0 C 17.0 11.0 18.0 11.0 18.0 11.0 C 18.0 12.0 17.0 11.0 17.0 11.0 C 17.0 11.0 17.0 11.0 17.0 11.0 C 17.0 11.0 17.0 11.0 17.0 11.0 ZM 12.0 12.0 C 12.0 12.0 12.0 12.0 12.0 13.0 C 12.0 12.0 12.0 13.0 12.0 13.0 C 11.0 12.0 11.0 12.0 12.0 12.0 C 12.0 12.0 12.0 12.0 12.0 12.0 ZM 9.0 13.0 C 9.0 13.0 9.0 13.0 9.0 13.0 C 9.0 13.0 9.0 13.0 9.0 13.0 C 9.0 13.0 9.0 13.0 9.0 13.0 C 9.0 13.0 9.0 13.0 9.0 13.0 C 9.0 13.0 9.0 13.0 9.0 13.0 ZM 7.0 16.0 C 7.0 16.0 7.0 16.0 8.0 16.0 C 8.0 16.0 8.0 16.0 8.0 16.0 C 8.0 16.0 8.0 16.0 8.0 16.0 C 8.0 16.0 8.0 16.0 8.0 16.0 C 8.0 16.0 8.0 16.0 8.0 16.0 C 7.0 16.0 7.0 16.0 7.0 16.0 C 7.0 16.0 7.0 16.0 7.0 16.0 Z";
}
#location {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 14.0 2.0 C 9.0 2.0 6.0 5.0 6.0 10.0 C 6.0 14.0 14.0 26.0 14.0 26.0 C 14.0 26.0 21.0 14.0 21.0 10.0 C 21.0 5.0 18.0 2.0 14.0 2.0 ZM 14.0 14.0 C 11.0 14.0 9.0 12.0 9.0 10.0 C 9.0 7.0 11.0 5.0 14.0 5.0 C 16.0 5.0 18.0 7.0 18.0 10.0 C 18.0 12.0 16.0 14.0 14.0 14.0 Z";
}
#twitter {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 25.0 6.0 C 24.0 7.0 23.0 7.0 22.0 7.0 C 23.0 7.0 24.0 6.0 24.0 4.0 C 23.0 5.0 22.0 5.0 21.0 6.0 C 21.0 5.0 19.0 4.0 18.0 4.0 C 15.0 4.0 13.0 6.0 13.0 9.0 C 13.0 9.0 13.0 10.0 13.0 10.0 C 9.0 10.0 6.0 8.0 4.0 5.0 C 3.0 6.0 3.0 7.0 3.0 7.0 C 3.0 9.0 4.0 11.0 5.0 12.0 C 4.0 12.0 4.0 11.0 3.0 11.0 C 3.0 11.0 3.0 11.0 3.0 11.0 C 3.0 14.0 5.0 16.0 7.0 16.0 C 6.0 16.0 6.0 16.0 5.0 16.0 C 5.0 16.0 5.0 16.0 5.0 16.0 C 5.0 18.0 7.0 20.0 9.0 20.0 C 7.0 21.0 5.0 22.0 3.0 22.0 C 3.0 22.0 2.0 22.0 2.0 22.0 C 4.0 23.0 7.0 24.0 9.0 24.0 C 18.0 24.0 23.0 16.0 23.0 10.0 C 23.0 9.0 23.0 9.0 23.0 9.0 C 24.0 8.0 24.0 7.0 25.0 6.0";
}
#facebook {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 4.0 2.0 C 3.0 2.0 2.0 3.0 2.0 4.0 C 2.0 4.0 2.0 24.0 2.0 24.0 C 2.0 25.0 3.0 26.0 4.0 26.0 C 4.0 26.0 14.0 26.0 14.0 26.0 L 14.0 17.0 L 11.0 17.0 L 11.0 13.0 L 14.0 13.0 L 14.0 10.0 C 14.0 10.0 13.0 6.0 18.0 6.0 C 22.0 6.0 21.0 6.0 21.0 6.0 L 21.0 10.0 L 19.0 10.0 C 19.0 10.0 18.0 9.0 18.0 10.0 C 18.0 10.0 18.0 13.0 18.0 13.0 L 22.0 13.0 L 21.0 17.0 L 18.0 17.0 L 18.0 26.0 C 18.0 26.0 24.0 26.0 24.0 26.0 C 25.0 26.0 26.0 25.0 26.0 24.0 C 26.0 24.0 26.0 4.0 26.0 4.0 C 26.0 3.0 25.0 2.0 24.0 2.0 C 24.0 2.0 4.0 2.0 4.0 2.0 Z";
}
#google {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 14.0 23.0 C 14.0 23.0 14.0 23.0 14.0 23.0 C 12.0 23.0 10.0 22.0 10.0 20.0 C 10.0 18.0 12.0 16.0 14.0 16.0 C 15.0 16.0 15.0 17.0 16.0 17.0 C 17.0 18.0 18.0 18.0 18.0 19.0 C 18.0 19.0 18.0 20.0 18.0 20.0 C 18.0 22.0 17.0 23.0 14.0 23.0 M 14.0 12.0 C 14.0 12.0 14.0 12.0 14.0 12.0 C 13.0 12.0 12.0 11.0 11.0 9.0 C 11.0 6.0 12.0 5.0 14.0 5.0 C 15.0 5.0 16.0 7.0 17.0 9.0 C 17.0 11.0 16.0 12.0 14.0 12.0 ZM 18.0 16.0 C 17.0 15.0 16.0 14.0 16.0 14.0 C 16.0 13.0 16.0 13.0 17.0 12.0 C 18.0 11.0 19.0 10.0 19.0 9.0 C 19.0 7.0 18.0 6.0 17.0 5.0 C 17.0 5.0 19.0 5.0 19.0 5.0 L 20.0 4.0 C 20.0 4.0 16.0 4.0 14.0 4.0 C 12.0 4.0 9.0 6.0 9.0 9.0 C 9.0 11.0 11.0 13.0 14.0 13.0 C 14.0 13.0 14.0 13.0 14.0 13.0 C 14.0 13.0 14.0 14.0 14.0 14.0 C 14.0 15.0 14.0 15.0 15.0 16.0 C 14.0 16.0 14.0 16.0 14.0 16.0 C 10.0 16.0 8.0 18.0 8.0 20.0 C 8.0 23.0 11.0 24.0 14.0 24.0 C 18.0 24.0 20.0 22.0 20.0 20.0 C 20.0 18.0 19.0 17.0 18.0 16.0 Z";
}
#lock {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 12.0 17.0 C 12.0 16.0 13.0 15.0 14.0 15.0 C 15.0 15.0 16.0 16.0 16.0 17.0 C 16.0 18.0 15.0 19.0 15.0 19.0 C 15.0 19.0 16.0 23.0 16.0 23.0 L 12.0 23.0 C 12.0 23.0 13.0 19.0 13.0 19.0 C 12.0 19.0 12.0 18.0 12.0 17.0 ZM 9.0 11.0 C 9.0 11.0 9.0 9.0 9.0 9.0 C 9.0 6.0 11.0 4.0 14.0 4.0 C 17.0 4.0 19.0 6.0 19.0 9.0 C 19.0 9.0 19.0 11.0 19.0 11.0 L 9.0 11.0 ZM 21.0 11.0 C 21.0 11.0 21.0 9.0 21.0 9.0 C 21.0 5.0 18.0 2.0 14.0 2.0 C 10.0 2.0 7.0 5.0 7.0 9.0 C 7.0 9.0 7.0 11.0 7.0 11.0 C 5.0 11.0 4.0 12.0 4.0 14.0 C 4.0 14.0 4.0 23.0 4.0 23.0 C 4.0 25.0 5.0 26.0 7.0 26.0 C 7.0 26.0 21.0 26.0 21.0 26.0 C 23.0 26.0 24.0 25.0 24.0 23.0 C 24.0 23.0 24.0 14.0 24.0 14.0 C 24.0 12.0 23.0 11.0 21.0 11.0 Z";
}
#camera {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 7.0 14.0 C 7.0 10.0 10.0 7.0 14.0 7.0 C 18.0 7.0 21.0 10.0 21.0 14.0 C 21.0 18.0 18.0 21.0 14.0 21.0 C 10.0 21.0 7.0 18.0 7.0 14.0 ZM 1.0 8.0 C 1.0 8.0 1.0 22.0 1.0 22.0 C 1.0 23.0 2.0 24.0 4.0 24.0 C 4.0 24.0 25.0 24.0 25.0 24.0 C 26.0 24.0 27.0 23.0 27.0 22.0 C 27.0 22.0 27.0 8.0 27.0 8.0 C 27.0 6.0 26.0 5.0 25.0 5.0 C 25.0 5.0 21.0 5.0 21.0 5.0 C 20.0 5.0 19.0 3.0 18.0 3.0 C 18.0 3.0 10.0 3.0 10.0 3.0 C 9.0 3.0 8.0 5.0 7.0 5.0 C 7.0 5.0 4.0 5.0 4.0 5.0 C 2.0 5.0 1.0 6.0 1.0 8.0 ZM 10.0 14.0 C 10.0 16.0 12.0 18.0 14.0 18.0 C 16.0 18.0 18.0 16.0 18.0 14.0 C 18.0 12.0 16.0 10.0 14.0 10.0 C 12.0 10.0 10.0 12.0 10.0 14.0 Z";
}
#speech-bubble {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 2.0 12.0 C 2.0 15.0 4.0 17.0 7.0 18.0 C 7.0 18.0 6.0 22.0 4.0 22.0 C 9.0 22.0 11.0 20.0 11.0 20.0 C 12.0 20.0 13.0 20.0 14.0 20.0 C 21.0 20.0 26.0 16.0 26.0 12.0 C 26.0 8.0 21.0 4.0 14.0 4.0 C 7.0 4.0 2.0 8.0 2.0 12.0 Z";
}
#cursor {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 23.0 15.0 C 23.0 15.0 7.0 0.0 7.0 0.0 C 7.0 0.0 6.0 0.0 6.0 0.0 C 6.0 0.0 6.0 0.0 6.0 0.0 C 5.0 0.0 5.0 1.0 5.0 1.0 C 5.0 1.0 5.0 23.0 5.0 23.0 C 5.0 24.0 5.0 24.0 6.0 24.0 C 6.0 24.0 6.0 24.0 6.0 24.0 C 6.0 24.0 7.0 24.0 7.0 24.0 C 7.0 24.0 12.0 19.0 12.0 19.0 C 12.0 19.0 16.0 27.0 16.0 27.0 C 16.0 28.0 16.0 28.0 17.0 28.0 C 17.0 28.0 17.0 28.0 17.0 28.0 C 17.0 28.0 18.0 27.0 18.0 27.0 C 19.0 27.0 19.0 26.0 19.0 26.0 C 19.0 26.0 15.0 18.0 15.0 18.0 C 15.0 18.0 22.0 17.0 22.0 17.0 C 22.0 17.0 23.0 17.0 23.0 17.0 C 23.0 16.0 23.0 16.0 23.0 15.0 Z";
}
#cursor1 {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 21.0 17.0 L 12.0 17.0 L 6.0 24.0 L 6.0 4.0 L 21.0 17.0 Z";
}
#cursor2 {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 25.0 19.0 L 23.0 21.0 L 23.0 20.0 L 20.0 20.0 L 20.0 23.0 L 21.0 23.0 L 19.0 25.0 L 18.0 23.0 L 19.0 23.0 L 19.0 20.0 L 16.0 20.0 L 16.0 21.0 L 14.0 19.0 L 16.0 17.0 L 16.0 19.0 L 19.0 19.0 L 19.0 16.0 L 18.0 16.0 L 19.0 14.0 L 21.0 16.0 L 20.0 16.0 L 20.0 19.0 L 23.0 19.0 L 23.0 17.0 L 25.0 19.0 ZM 3.0 21.0 L 3.0 3.0 L 16.0 15.0 L 8.0 15.0 L 3.0 21.0 Z";
}
#crop {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 7.0 21.0 L 25.0 21.0 L 25.0 18.0 L 21.0 18.0 L 21.0 7.0 L 24.0 4.0 L 23.0 4.0 L 20.0 7.0 L 10.0 7.0 L 10.0 3.0 L 7.0 3.0 L 7.0 7.0 L 3.0 7.0 L 3.0 10.0 L 7.0 10.0 L 7.0 21.0 ZM 10.0 17.0 L 10.0 10.0 L 17.0 10.0 L 10.0 17.0 ZM 18.0 10.0 L 18.0 18.0 L 10.0 18.0 L 18.0 10.0 ZM 21.0 22.0 L 18.0 22.0 L 18.0 25.0 L 21.0 25.0 L 21.0 22.0 Z";
}
#selection {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 23.0 24.0 L 19.0 24.0 L 19.0 23.0 L 23.0 23.0 L 23.0 19.0 L 24.0 19.0 L 24.0 23.0 L 24.0 24.0 L 23.0 24.0 ZM 23.0 11.0 L 24.0 11.0 L 24.0 17.0 L 23.0 17.0 L 23.0 11.0 ZM 23.0 5.0 L 19.0 5.0 L 19.0 4.0 L 23.0 4.0 L 24.0 4.0 L 24.0 4.0 L 24.0 9.0 L 23.0 9.0 L 23.0 5.0 ZM 11.0 23.0 L 17.0 23.0 L 17.0 24.0 L 11.0 24.0 L 11.0 23.0 ZM 11.0 4.0 L 17.0 4.0 L 17.0 5.0 L 11.0 5.0 L 11.0 4.0 ZM 4.0 24.0 L 4.0 23.0 L 4.0 19.0 L 5.0 19.0 L 5.0 23.0 L 9.0 23.0 L 9.0 24.0 L 5.0 24.0 L 4.0 24.0 ZM 5.0 9.0 L 4.0 9.0 L 4.0 5.0 L 4.0 4.0 L 5.0 4.0 L 9.0 4.0 L 9.0 5.0 L 5.0 5.0 L 5.0 9.0 ZM 5.0 17.0 L 4.0 17.0 L 4.0 11.0 L 5.0 11.0 L 5.0 17.0 Z";
}
#selection1 {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 24.0 21.0 L 24.0 19.0 L 23.0 19.0 L 23.0 21.0 L 21.0 21.0 L 21.0 23.0 L 19.0 23.0 L 19.0 24.0 L 21.0 24.0 L 21.0 26.0 L 26.0 26.0 L 26.0 21.0 L 24.0 21.0 ZM 23.0 11.0 L 23.0 17.0 L 24.0 17.0 L 24.0 11.0 L 23.0 11.0 ZM 23.0 7.0 L 23.0 9.0 L 24.0 9.0 L 24.0 7.0 L 26.0 7.0 L 26.0 2.0 L 21.0 2.0 L 21.0 4.0 L 19.0 4.0 L 19.0 5.0 L 21.0 5.0 L 21.0 7.0 L 23.0 7.0 ZM 11.0 23.0 L 11.0 24.0 L 17.0 24.0 L 17.0 23.0 L 11.0 23.0 ZM 11.0 4.0 L 11.0 5.0 L 17.0 5.0 L 17.0 4.0 L 11.0 4.0 ZM 7.0 24.0 L 9.0 24.0 L 9.0 23.0 L 7.0 23.0 L 7.0 21.0 L 5.0 21.0 L 5.0 19.0 L 4.0 19.0 L 4.0 21.0 L 2.0 21.0 L 2.0 26.0 L 7.0 26.0 L 7.0 24.0 ZM 5.0 9.0 L 5.0 7.0 L 7.0 7.0 L 7.0 5.0 L 9.0 5.0 L 9.0 4.0 L 7.0 4.0 L 7.0 2.0 L 2.0 2.0 L 2.0 7.0 L 4.0 7.0 L 4.0 9.0 L 5.0 9.0 ZM 5.0 17.0 L 5.0 11.0 L 4.0 11.0 L 4.0 17.0 L 5.0 17.0 Z";
}
#selection2 {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 8.0 23.0 L 8.0 22.0 L 4.0 22.0 L 4.0 18.0 L 3.0 18.0 L 3.0 23.0 L 8.0 23.0 ZM 20.0 23.0 L 25.0 23.0 L 25.0 18.0 L 24.0 18.0 L 24.0 22.0 L 20.0 22.0 L 20.0 23.0 ZM 3.0 10.0 L 4.0 10.0 L 4.0 6.0 L 8.0 6.0 L 8.0 5.0 L 3.0 5.0 L 3.0 10.0 ZM 25.0 10.0 L 25.0 5.0 L 20.0 5.0 L 20.0 6.0 L 24.0 6.0 L 24.0 10.0 L 25.0 10.0 ZM 7.0 9.0 L 21.0 9.0 L 21.0 19.0 L 7.0 19.0 L 7.0 9.0 ZM 5.0 7.0 L 5.0 21.0 L 23.0 21.0 L 23.0 7.0 L 5.0 7.0 Z";
}
#selection3 {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 8.0 23.0 L 8.0 22.0 L 4.0 22.0 L 4.0 18.0 L 3.0 18.0 L 3.0 23.0 L 8.0 23.0 ZM 20.0 23.0 L 25.0 23.0 L 25.0 18.0 L 24.0 18.0 L 24.0 22.0 L 20.0 22.0 L 20.0 23.0 ZM 3.0 10.0 L 4.0 10.0 L 4.0 6.0 L 8.0 6.0 L 8.0 5.0 L 3.0 5.0 L 3.0 10.0 ZM 25.0 10.0 L 25.0 5.0 L 20.0 5.0 L 20.0 6.0 L 24.0 6.0 L 24.0 10.0 L 25.0 10.0 ZM 6.0 8.0 L 6.0 20.0 L 22.0 20.0 L 22.0 8.0 L 6.0 8.0 Z";
}
#pencil {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 20.0 2.0 C 20.0 2.0 17.0 5.0 17.0 5.0 L 23.0 11.0 C 23.0 11.0 26.0 8.0 26.0 8.0 C 26.0 7.0 26.0 6.0 26.0 6.0 C 26.0 6.0 22.0 2.0 22.0 2.0 C 22.0 2.0 21.0 2.0 20.0 2.0 ZM 16.0 7.0 L 4.0 18.0 L 10.0 24.0 L 21.0 12.0 L 16.0 7.0 ZM 1.0 27.0 L 8.0 25.0 L 3.0 20.0 L 1.0 27.0 Z";
}
#big-brush {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 2.0 26.0 C 12.0 27.0 12.0 20.0 12.0 20.0 L 9.0 17.0 C 9.0 17.0 7.0 18.0 6.0 19.0 C 4.0 23.0 5.0 25.0 2.0 26.0 ZM 13.0 20.0 C 13.0 20.0 28.0 2.0 27.0 1.0 C 26.0 0.0 9.0 16.0 9.0 16.0 L 13.0 20.0 Z";
}
#brush {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 1.0 16.0 C 4.0 22.0 11.0 27.0 11.0 27.0 C 12.0 24.0 16.0 20.0 16.0 20.0 C 16.0 20.0 7.0 11.0 7.0 11.0 C 5.0 15.0 1.0 16.0 1.0 16.0 ZM 27.0 1.0 C 27.0 1.0 24.0 0.0 21.0 3.0 C 18.0 6.0 15.0 10.0 14.0 10.0 C 13.0 10.0 12.0 8.0 11.0 8.0 C 9.0 8.0 8.0 10.0 8.0 10.0 L 17.0 19.0 C 17.0 19.0 19.0 18.0 19.0 17.0 C 19.0 16.0 17.0 14.0 17.0 13.0 C 17.0 11.0 28.0 8.0 27.0 1.0 ZM 25.0 2.0 C 25.0 2.0 26.0 2.0 26.0 3.0 C 26.0 3.0 25.0 4.0 25.0 4.0 C 25.0 4.0 24.0 3.0 24.0 3.0 C 24.0 2.0 25.0 2.0 25.0 2.0 Z";
}
#pen {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 10.0 23.0 C 9.0 23.0 9.0 23.0 9.0 24.0 C 9.0 24.0 9.0 25.0 9.0 25.0 C 9.0 26.0 9.0 26.0 10.0 26.0 C 10.0 26.0 17.0 26.0 17.0 26.0 C 18.0 26.0 18.0 26.0 18.0 25.0 C 18.0 25.0 18.0 24.0 18.0 24.0 C 18.0 23.0 18.0 23.0 17.0 23.0 C 17.0 23.0 10.0 23.0 10.0 23.0 ZM 14.0 12.0 C 15.0 12.0 16.0 13.0 16.0 14.0 C 16.0 15.0 15.0 16.0 14.0 17.0 C 14.0 17.0 14.0 17.0 14.0 17.0 C 14.0 17.0 14.0 17.0 14.0 17.0 C 12.0 17.0 11.0 16.0 11.0 14.0 C 11.0 13.0 12.0 12.0 13.0 12.0 C 13.0 12.0 13.0 12.0 13.0 12.0 L 13.0 2.0 C 13.0 2.0 11.0 3.0 11.0 4.0 C 11.0 4.0 11.0 6.0 11.0 6.0 L 6.0 15.0 C 6.0 15.0 10.0 19.0 10.0 20.0 C 10.0 22.0 11.0 22.0 11.0 22.0 L 13.0 22.0 L 14.0 22.0 L 16.0 22.0 C 16.0 22.0 17.0 22.0 17.0 20.0 C 17.0 19.0 21.0 15.0 21.0 15.0 L 16.0 6.0 C 16.0 6.0 16.0 4.0 16.0 4.0 C 16.0 3.0 14.0 2.0 14.0 2.0 L 14.0 12.0 C 14.0 12.0 14.0 12.0 14.0 12.0 ZM 14.0 12.0 L 14.0 12.0 L 14.0 12.0 L 14.0 12.0 Z";
}
#pen1 {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 3.0 28.0 C 4.0 28.0 5.0 27.0 5.0 27.0 C 5.0 27.0 6.0 27.0 6.0 27.0 C 9.0 26.0 11.0 26.0 13.0 24.0 C 15.0 23.0 16.0 19.0 19.0 18.0 C 20.0 18.0 20.0 17.0 21.0 17.0 C 22.0 17.0 23.0 17.0 23.0 17.0 C 24.0 18.0 24.0 18.0 25.0 18.0 C 26.0 18.0 27.0 17.0 27.0 16.0 C 27.0 15.0 26.0 14.0 25.0 14.0 C 24.0 14.0 23.0 15.0 23.0 16.0 C 23.0 16.0 23.0 16.0 23.0 17.0 C 23.0 17.0 23.0 17.0 23.0 17.0 C 13.0 17.0 17.0 25.0 6.0 26.0 C 6.0 26.0 5.0 26.0 5.0 26.0 C 5.0 25.0 4.0 24.0 3.0 24.0 C 2.0 24.0 1.0 25.0 1.0 26.0 C 1.0 27.0 2.0 28.0 3.0 28.0 ZM 16.0 7.0 C 17.0 7.0 17.0 7.0 18.0 6.0 C 18.0 6.0 18.0 5.0 18.0 5.0 C 18.0 5.0 18.0 4.0 18.0 4.0 C 18.0 4.0 11.0 1.0 11.0 1.0 C 11.0 1.0 10.0 1.0 10.0 1.0 C 10.0 1.0 9.0 2.0 9.0 2.0 C 9.0 2.0 9.0 3.0 10.0 3.0 C 10.0 3.0 16.0 7.0 16.0 7.0 ZM 7.0 14.0 C 6.0 13.0 6.0 12.0 6.0 11.0 C 7.0 10.0 8.0 10.0 9.0 10.0 C 9.0 10.0 9.0 10.0 9.0 10.0 C 10.0 10.0 10.0 10.0 10.0 10.0 C 11.0 11.0 12.0 12.0 11.0 14.0 C 10.0 15.0 9.0 15.0 8.0 15.0 C 8.0 15.0 8.0 15.0 8.0 15.0 L 3.0 23.0 C 3.0 23.0 5.0 23.0 6.0 23.0 C 6.0 23.0 6.0 21.0 6.0 21.0 L 15.0 16.0 C 15.0 16.0 14.0 11.0 15.0 9.0 C 16.0 8.0 15.0 7.0 15.0 7.0 L 13.0 6.0 L 12.0 5.0 L 10.0 4.0 C 10.0 4.0 9.0 4.0 8.0 5.0 C 7.0 7.0 2.0 8.0 2.0 8.0 L 2.0 18.0 C 2.0 18.0 1.0 20.0 1.0 20.0 C 1.0 21.0 2.0 23.0 2.0 23.0 L 7.0 14.0 C 7.0 14.0 7.0 14.0 7.0 14.0 ZM 7.0 14.0 L 7.0 14.0 L 7.0 14.0 L 7.0 14.0 Z";
}
#line {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 22.0 4.0 L 24.0 6.0 L 6.0 24.0 L 4.0 22.0 L 22.0 4.0 Z";
}
#eye-dropper {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 14.0 11.0 C 14.0 10.0 14.0 10.0 14.0 11.0 C 15.0 11.0 15.0 11.0 14.0 11.0 C 14.0 11.0 7.0 18.0 7.0 18.0 C 7.0 19.0 7.0 19.0 7.0 18.0 C 6.0 18.0 6.0 18.0 7.0 18.0 C 7.0 18.0 14.0 11.0 14.0 11.0 ZM 13.0 9.0 L 7.0 16.0 C 7.0 16.0 6.0 19.0 6.0 19.0 C 6.0 19.0 7.0 20.0 8.0 20.0 C 8.0 20.0 10.0 19.0 10.0 19.0 L 17.0 13.0 L 13.0 9.0 ZM 6.0 21.0 C 5.0 21.0 4.0 24.0 4.0 24.0 C 4.0 25.0 5.0 26.0 6.0 26.0 C 6.0 26.0 7.0 25.0 7.0 24.0 C 7.0 24.0 6.0 21.0 6.0 21.0 ZM 22.0 2.0 C 21.0 2.0 20.0 2.0 20.0 3.0 C 20.0 3.0 20.0 3.0 20.0 3.0 C 20.0 3.0 18.0 5.0 18.0 5.0 C 17.0 4.0 15.0 4.0 15.0 5.0 C 15.0 5.0 13.0 7.0 13.0 7.0 L 19.0 14.0 C 19.0 14.0 21.0 11.0 21.0 11.0 C 22.0 11.0 22.0 9.0 21.0 8.0 C 21.0 8.0 23.0 6.0 23.0 6.0 C 23.0 6.0 23.0 6.0 23.0 6.0 C 24.0 6.0 24.0 5.0 24.0 5.0 C 24.0 3.0 23.0 2.0 22.0 2.0 Z";
}
#eraser {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 25.0 19.0 C 25.0 19.0 25.0 19.0 26.0 19.0 C 26.0 19.0 26.0 19.0 26.0 19.0 C 26.0 18.0 26.0 18.0 26.0 18.0 C 25.0 18.0 25.0 18.0 25.0 19.0 ZM 15.0 25.0 C 15.0 25.0 15.0 25.0 16.0 25.0 C 16.0 25.0 16.0 25.0 16.0 25.0 C 16.0 24.0 16.0 24.0 16.0 24.0 C 15.0 24.0 15.0 24.0 15.0 25.0 ZM 17.0 24.0 C 17.0 24.0 17.0 24.0 18.0 24.0 C 18.0 24.0 18.0 24.0 18.0 24.0 C 18.0 23.0 18.0 23.0 18.0 23.0 C 17.0 23.0 17.0 23.0 17.0 24.0 ZM 25.0 22.0 C 25.0 22.0 25.0 22.0 26.0 22.0 C 26.0 22.0 26.0 22.0 26.0 22.0 C 26.0 21.0 26.0 21.0 26.0 21.0 C 25.0 21.0 25.0 21.0 25.0 22.0 ZM 25.0 24.0 C 25.0 24.0 25.0 24.0 26.0 24.0 C 26.0 24.0 26.0 24.0 26.0 24.0 C 26.0 23.0 26.0 23.0 26.0 23.0 C 25.0 23.0 25.0 23.0 25.0 24.0 ZM 23.0 21.0 C 23.0 21.0 23.0 21.0 24.0 21.0 C 24.0 21.0 24.0 21.0 24.0 21.0 C 24.0 20.0 24.0 20.0 24.0 20.0 C 23.0 20.0 23.0 20.0 23.0 21.0 ZM 22.0 24.0 C 22.0 24.0 22.0 24.0 23.0 24.0 C 23.0 24.0 23.0 24.0 23.0 24.0 C 23.0 23.0 23.0 23.0 23.0 23.0 C 22.0 23.0 22.0 23.0 22.0 24.0 ZM 19.0 24.0 C 19.0 24.0 19.0 24.0 20.0 24.0 C 20.0 24.0 20.0 24.0 20.0 24.0 C 20.0 23.0 20.0 23.0 20.0 23.0 C 19.0 23.0 19.0 23.0 19.0 24.0 ZM 20.0 22.0 C 20.0 22.0 20.0 22.0 21.0 22.0 C 21.0 22.0 21.0 22.0 21.0 22.0 C 21.0 21.0 21.0 21.0 21.0 21.0 C 20.0 21.0 20.0 21.0 20.0 22.0 ZM 25.0 10.0 C 25.0 10.0 18.0 4.0 18.0 4.0 C 17.0 3.0 17.0 3.0 16.0 3.0 C 16.0 3.0 15.0 3.0 15.0 3.0 C 15.0 3.0 1.0 17.0 1.0 17.0 C 1.0 18.0 1.0 19.0 1.0 19.0 C 1.0 19.0 5.0 24.0 5.0 24.0 C 6.0 24.0 7.0 25.0 8.0 25.0 C 8.0 25.0 11.0 25.0 11.0 25.0 C 12.0 25.0 13.0 24.0 14.0 24.0 C 14.0 24.0 25.0 13.0 25.0 13.0 C 25.0 12.0 25.0 11.0 25.0 10.0 ZM 12.0 23.0 C 12.0 23.0 11.0 24.0 11.0 24.0 C 11.0 24.0 8.0 24.0 8.0 24.0 C 8.0 24.0 7.0 23.0 7.0 23.0 C 7.0 23.0 2.0 18.0 2.0 18.0 L 9.0 11.0 L 17.0 19.0 C 17.0 19.0 12.0 23.0 12.0 23.0 Z";
}
#scissors {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 13.0 3.0 C 12.0 4.0 12.0 6.0 13.0 7.0 C 14.0 8.0 16.0 8.0 17.0 7.0 C 18.0 6.0 18.0 4.0 17.0 3.0 C 16.0 2.0 14.0 2.0 13.0 3.0 ZM 21.0 11.0 C 20.0 12.0 20.0 14.0 21.0 15.0 C 22.0 16.0 24.0 16.0 25.0 15.0 C 26.0 14.0 26.0 12.0 25.0 11.0 C 24.0 10.0 22.0 10.0 21.0 11.0 ZM 26.0 16.0 C 24.0 17.0 22.0 17.0 20.0 16.0 C 19.0 15.0 19.0 14.0 19.0 13.0 C 19.0 13.0 16.0 14.0 16.0 14.0 C 16.0 14.0 14.0 24.0 14.0 24.0 C 13.0 26.0 12.0 27.0 10.0 27.0 C 10.0 27.0 14.0 14.0 14.0 14.0 C 14.0 14.0 1.0 18.0 1.0 18.0 C 1.0 16.0 2.0 15.0 4.0 14.0 C 4.0 14.0 14.0 12.0 14.0 12.0 C 14.0 12.0 15.0 9.0 15.0 9.0 C 14.0 9.0 13.0 8.0 12.0 8.0 C 11.0 6.0 11.0 4.0 12.0 2.0 C 14.0 1.0 16.0 1.0 18.0 2.0 C 19.0 4.0 19.0 6.0 18.0 8.0 C 18.0 8.0 17.0 11.0 17.0 11.0 C 17.0 11.0 20.0 10.0 20.0 10.0 C 22.0 9.0 24.0 9.0 26.0 10.0 C 27.0 12.0 27.0 14.0 26.0 16.0 Z";
}
#smudge {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 18.0 12.0 C 18.0 12.0 20.0 15.0 20.0 19.0 C 20.0 22.0 14.0 24.0 14.0 24.0 C 20.0 20.0 18.0 12.0 18.0 12.0 ZM 6.0 18.0 C 6.0 22.0 10.0 26.0 14.0 26.0 C 18.0 26.0 22.0 22.0 22.0 18.0 C 22.0 14.0 14.0 2.0 14.0 2.0 C 14.0 2.0 6.0 14.0 6.0 18.0 Z";
}
#contrast {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 4.0 14.0 C 4.0 8.0 8.0 4.0 14.0 4.0 C 14.0 4.0 14.0 24.0 14.0 24.0 C 8.0 24.0 4.0 20.0 4.0 14.0 ZM 2.0 14.0 C 2.0 21.0 7.0 26.0 14.0 26.0 C 21.0 26.0 26.0 21.0 26.0 14.0 C 26.0 7.0 21.0 2.0 14.0 2.0 C 7.0 2.0 2.0 7.0 2.0 14.0 Z";
}
#layers {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 7.0 20.0 C 7.0 21.0 8.0 21.0 9.0 21.0 C 9.0 21.0 19.0 21.0 19.0 21.0 C 20.0 21.0 21.0 20.0 21.0 19.0 C 21.0 19.0 21.0 9.0 21.0 9.0 C 21.0 8.0 21.0 7.0 20.0 7.0 C 20.0 7.0 20.0 8.0 20.0 8.0 C 20.0 8.0 20.0 18.0 20.0 18.0 C 20.0 19.0 19.0 20.0 18.0 20.0 C 18.0 20.0 8.0 20.0 8.0 20.0 C 8.0 20.0 7.0 20.0 7.0 20.0 ZM 7.0 5.0 C 6.0 5.0 5.0 6.0 5.0 7.0 C 5.0 7.0 5.0 17.0 5.0 17.0 C 5.0 18.0 6.0 19.0 7.0 19.0 C 7.0 19.0 17.0 19.0 17.0 19.0 C 18.0 19.0 19.0 18.0 19.0 17.0 C 19.0 17.0 19.0 7.0 19.0 7.0 C 19.0 6.0 18.0 5.0 17.0 5.0 C 17.0 5.0 7.0 5.0 7.0 5.0 ZM 9.0 22.0 C 9.0 23.0 10.0 23.0 11.0 23.0 C 11.0 23.0 21.0 23.0 21.0 23.0 C 22.0 23.0 23.0 22.0 23.0 21.0 C 23.0 21.0 23.0 11.0 23.0 11.0 C 23.0 10.0 23.0 9.0 22.0 9.0 C 22.0 9.0 22.0 10.0 22.0 10.0 C 22.0 10.0 22.0 20.0 22.0 20.0 C 22.0 21.0 21.0 22.0 20.0 22.0 C 20.0 22.0 10.0 22.0 10.0 22.0 C 10.0 22.0 9.0 22.0 9.0 22.0 Z";
}
#boolean {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 14.0 12.0 C 14.0 12.0 20.0 12.0 20.0 12.0 C 21.0 12.0 22.0 13.0 22.0 14.0 C 22.0 14.0 22.0 20.0 22.0 20.0 C 22.0 21.0 21.0 22.0 20.0 22.0 C 20.0 22.0 14.0 22.0 14.0 22.0 C 13.0 22.0 12.0 21.0 12.0 20.0 C 12.0 20.0 12.0 14.0 12.0 14.0 C 12.0 13.0 13.0 12.0 14.0 12.0 ZM 13.0 11.0 C 12.0 11.0 11.0 12.0 11.0 13.0 C 11.0 13.0 11.0 21.0 11.0 21.0 C 11.0 22.0 12.0 23.0 13.0 23.0 C 13.0 23.0 21.0 23.0 21.0 23.0 C 22.0 23.0 23.0 22.0 23.0 21.0 C 23.0 21.0 23.0 13.0 23.0 13.0 C 23.0 12.0 22.0 11.0 21.0 11.0 C 21.0 11.0 13.0 11.0 13.0 11.0 ZM 7.0 5.0 C 6.0 5.0 5.0 6.0 5.0 7.0 C 5.0 7.0 5.0 15.0 5.0 15.0 C 5.0 16.0 6.0 17.0 7.0 17.0 C 7.0 17.0 10.0 17.0 10.0 17.0 C 10.0 17.0 10.0 12.0 10.0 12.0 C 10.0 11.0 11.0 10.0 12.0 10.0 C 12.0 10.0 17.0 10.0 17.0 10.0 C 17.0 10.0 17.0 7.0 17.0 7.0 C 17.0 6.0 16.0 5.0 15.0 5.0 C 15.0 5.0 7.0 5.0 7.0 5.0 Z";
}
#text {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 4.0 2.0 L 24.0 2.0 L 24.0 9.0 C 24.0 9.0 22.0 9.0 22.0 9.0 C 22.0 7.0 22.0 6.0 22.0 5.0 C 21.0 5.0 19.0 4.0 17.0 4.0 C 17.0 4.0 16.0 4.0 16.0 4.0 C 16.0 4.0 16.0 23.0 16.0 23.0 C 16.0 24.0 16.0 24.0 17.0 25.0 C 17.0 25.0 18.0 25.0 19.0 25.0 C 19.0 25.0 19.0 26.0 19.0 26.0 L 9.0 26.0 C 9.0 26.0 9.0 25.0 9.0 25.0 C 10.0 25.0 11.0 25.0 11.0 25.0 C 12.0 24.0 12.0 24.0 12.0 23.0 C 12.0 23.0 12.0 4.0 12.0 4.0 C 12.0 4.0 10.0 4.0 10.0 4.0 C 8.0 4.0 7.0 5.0 6.0 5.0 C 6.0 6.0 6.0 7.0 6.0 9.0 C 6.0 9.0 4.0 9.0 4.0 9.0 L 4.0 2.0 Z";
}
#alignleft {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 4.0 21.0 C 3.0 21.0 3.0 21.0 3.0 22.0 C 3.0 23.0 3.0 23.0 4.0 23.0 C 4.0 23.0 22.0 23.0 22.0 23.0 C 23.0 23.0 23.0 23.0 23.0 22.0 C 23.0 21.0 23.0 21.0 22.0 21.0 C 22.0 21.0 4.0 21.0 4.0 21.0 ZM 4.0 17.0 C 3.0 17.0 3.0 17.0 3.0 18.0 C 3.0 19.0 3.0 19.0 4.0 19.0 C 4.0 19.0 18.0 19.0 18.0 19.0 C 19.0 19.0 19.0 19.0 19.0 18.0 C 19.0 17.0 19.0 17.0 18.0 17.0 C 18.0 17.0 4.0 17.0 4.0 17.0 ZM 4.0 13.0 C 3.0 13.0 3.0 13.0 3.0 14.0 C 3.0 15.0 3.0 15.0 4.0 15.0 C 4.0 15.0 24.0 15.0 24.0 15.0 C 25.0 15.0 25.0 15.0 25.0 14.0 C 25.0 13.0 25.0 13.0 24.0 13.0 C 24.0 13.0 4.0 13.0 4.0 13.0 ZM 4.0 9.0 C 3.0 9.0 3.0 9.0 3.0 10.0 C 3.0 11.0 3.0 11.0 4.0 11.0 C 4.0 11.0 23.0 11.0 23.0 11.0 C 24.0 11.0 24.0 11.0 24.0 10.0 C 24.0 9.0 24.0 9.0 23.0 9.0 C 23.0 9.0 4.0 9.0 4.0 9.0 ZM 4.0 5.0 C 3.0 5.0 3.0 5.0 3.0 6.0 C 3.0 7.0 3.0 7.0 4.0 7.0 C 4.0 7.0 20.0 7.0 20.0 7.0 C 21.0 7.0 21.0 7.0 21.0 6.0 C 21.0 5.0 21.0 5.0 20.0 5.0 C 20.0 5.0 4.0 5.0 4.0 5.0 Z";
}
#center {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 5.0 21.0 C 4.0 21.0 4.0 21.0 4.0 22.0 C 4.0 23.0 4.0 23.0 5.0 23.0 C 5.0 23.0 23.0 23.0 23.0 23.0 C 24.0 23.0 24.0 23.0 24.0 22.0 C 24.0 21.0 24.0 21.0 23.0 21.0 C 23.0 21.0 5.0 21.0 5.0 21.0 ZM 7.0 17.0 C 6.0 17.0 6.0 17.0 6.0 18.0 C 6.0 19.0 6.0 19.0 7.0 19.0 C 7.0 19.0 21.0 19.0 21.0 19.0 C 22.0 19.0 22.0 19.0 22.0 18.0 C 22.0 17.0 22.0 17.0 21.0 17.0 C 21.0 17.0 7.0 17.0 7.0 17.0 ZM 5.0 9.0 C 4.0 9.0 4.0 9.0 4.0 10.0 C 4.0 11.0 4.0 11.0 5.0 11.0 C 5.0 11.0 23.0 11.0 23.0 11.0 C 24.0 11.0 24.0 11.0 24.0 10.0 C 24.0 9.0 24.0 9.0 23.0 9.0 C 23.0 9.0 5.0 9.0 5.0 9.0 ZM 4.0 13.0 C 3.0 13.0 3.0 13.0 3.0 14.0 C 3.0 15.0 3.0 15.0 4.0 15.0 C 4.0 15.0 24.0 15.0 24.0 15.0 C 25.0 15.0 25.0 15.0 25.0 14.0 C 25.0 13.0 25.0 13.0 24.0 13.0 C 24.0 13.0 4.0 13.0 4.0 13.0 ZM 6.0 5.0 C 5.0 5.0 5.0 5.0 5.0 6.0 C 5.0 7.0 5.0 7.0 6.0 7.0 C 6.0 7.0 22.0 7.0 22.0 7.0 C 23.0 7.0 23.0 7.0 23.0 6.0 C 23.0 5.0 23.0 5.0 22.0 5.0 C 22.0 5.0 6.0 5.0 6.0 5.0 Z";
}
#alignright {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 24.0 21.0 C 24.0 21.0 6.0 21.0 6.0 21.0 C 5.0 21.0 5.0 21.0 5.0 22.0 C 5.0 23.0 5.0 23.0 6.0 23.0 C 6.0 23.0 24.0 23.0 24.0 23.0 C 25.0 23.0 25.0 23.0 25.0 22.0 C 25.0 21.0 25.0 21.0 24.0 21.0 ZM 24.0 17.0 C 24.0 17.0 10.0 17.0 10.0 17.0 C 9.0 17.0 9.0 17.0 9.0 18.0 C 9.0 19.0 9.0 19.0 10.0 19.0 C 10.0 19.0 24.0 19.0 24.0 19.0 C 25.0 19.0 25.0 19.0 25.0 18.0 C 25.0 17.0 25.0 17.0 24.0 17.0 ZM 24.0 13.0 C 24.0 13.0 4.0 13.0 4.0 13.0 C 3.0 13.0 3.0 13.0 3.0 14.0 C 3.0 15.0 3.0 15.0 4.0 15.0 C 4.0 15.0 24.0 15.0 24.0 15.0 C 25.0 15.0 25.0 15.0 25.0 14.0 C 25.0 13.0 25.0 13.0 24.0 13.0 ZM 24.0 9.0 C 24.0 9.0 5.0 9.0 5.0 9.0 C 4.0 9.0 4.0 9.0 4.0 10.0 C 4.0 11.0 4.0 11.0 5.0 11.0 C 5.0 11.0 24.0 11.0 24.0 11.0 C 25.0 11.0 25.0 11.0 25.0 10.0 C 25.0 9.0 25.0 9.0 24.0 9.0 ZM 24.0 5.0 C 24.0 5.0 8.0 5.0 8.0 5.0 C 7.0 5.0 7.0 5.0 7.0 6.0 C 7.0 7.0 7.0 7.0 8.0 7.0 C 8.0 7.0 24.0 7.0 24.0 7.0 C 25.0 7.0 25.0 7.0 25.0 6.0 C 25.0 5.0 25.0 5.0 24.0 5.0 Z";
}
#justified {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 24.0 21.0 C 24.0 21.0 4.0 21.0 4.0 21.0 C 3.0 21.0 3.0 21.0 3.0 22.0 C 3.0 23.0 3.0 23.0 4.0 23.0 C 4.0 23.0 24.0 23.0 24.0 23.0 C 25.0 23.0 25.0 23.0 25.0 22.0 C 25.0 21.0 25.0 21.0 24.0 21.0 ZM 24.0 17.0 C 24.0 17.0 4.0 17.0 4.0 17.0 C 3.0 17.0 3.0 17.0 3.0 18.0 C 3.0 19.0 3.0 19.0 4.0 19.0 C 4.0 19.0 24.0 19.0 24.0 19.0 C 25.0 19.0 25.0 19.0 25.0 18.0 C 25.0 17.0 25.0 17.0 24.0 17.0 ZM 24.0 13.0 C 24.0 13.0 4.0 13.0 4.0 13.0 C 3.0 13.0 3.0 13.0 3.0 14.0 C 3.0 15.0 3.0 15.0 4.0 15.0 C 4.0 15.0 24.0 15.0 24.0 15.0 C 25.0 15.0 25.0 15.0 25.0 14.0 C 25.0 13.0 25.0 13.0 24.0 13.0 ZM 24.0 9.0 C 24.0 9.0 4.0 9.0 4.0 9.0 C 3.0 9.0 3.0 9.0 3.0 10.0 C 3.0 11.0 3.0 11.0 4.0 11.0 C 4.0 11.0 24.0 11.0 24.0 11.0 C 25.0 11.0 25.0 11.0 25.0 10.0 C 25.0 9.0 25.0 9.0 24.0 9.0 ZM 24.0 5.0 C 24.0 5.0 4.0 5.0 4.0 5.0 C 3.0 5.0 3.0 5.0 3.0 6.0 C 3.0 7.0 3.0 7.0 4.0 7.0 C 4.0 7.0 24.0 7.0 24.0 7.0 C 25.0 7.0 25.0 7.0 25.0 6.0 C 25.0 5.0 25.0 5.0 24.0 5.0 Z";
}
#bulb {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 14.0 1.0 C 8.0 1.0 4.0 5.0 4.0 10.0 C 4.0 14.0 6.0 17.0 9.0 18.0 C 9.0 18.0 9.0 19.0 9.0 19.0 C 9.0 19.0 9.0 25.0 9.0 25.0 C 9.0 25.0 10.0 26.0 11.0 26.0 C 12.0 27.0 12.0 27.0 14.0 27.0 C 15.0 27.0 15.0 27.0 16.0 26.0 C 17.0 26.0 18.0 25.0 18.0 25.0 C 18.0 25.0 18.0 19.0 18.0 19.0 C 18.0 19.0 18.0 18.0 18.0 18.0 C 21.0 17.0 23.0 14.0 23.0 10.0 C 23.0 5.0 19.0 1.0 14.0 1.0 C 14.0 1.0 14.0 1.0 14.0 1.0 ZM 14.0 3.0 C 18.0 3.0 21.0 6.0 21.0 10.0 C 21.0 13.0 19.0 16.0 17.0 17.0 C 17.0 17.0 16.0 19.0 16.0 19.0 C 16.0 20.0 15.0 20.0 14.0 20.0 C 12.0 20.0 11.0 20.0 11.0 19.0 C 11.0 19.0 10.0 17.0 10.0 17.0 C 8.0 16.0 6.0 13.0 6.0 10.0 C 6.0 6.0 9.0 3.0 14.0 3.0 C 14.0 3.0 14.0 3.0 14.0 3.0 Z";
}
#bulb-on {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 23.0 3.0 L 21.0 5.0 L 22.0 6.0 L 24.0 4.0 L 23.0 3.0 ZM 5.0 20.0 L 3.0 22.0 L 4.0 23.0 L 6.0 21.0 L 5.0 20.0 ZM 4.0 4.0 L 6.0 6.0 L 7.0 5.0 L 5.0 3.0 L 4.0 4.0 ZM 22.0 21.0 L 24.0 23.0 L 25.0 22.0 L 23.0 20.0 L 22.0 21.0 ZM 1.0 14.0 L 4.0 14.0 L 4.0 12.0 L 1.0 12.0 L 1.0 14.0 ZM 24.0 14.0 L 27.0 14.0 L 27.0 12.0 L 24.0 12.0 L 24.0 14.0 ZM 15.0 4.0 L 15.0 1.0 L 13.0 1.0 L 13.0 4.0 L 15.0 4.0 ZM 14.0 6.0 C 10.0 6.0 6.0 9.0 6.0 13.0 C 6.0 16.0 8.0 19.0 10.0 20.0 C 10.0 20.0 10.0 20.0 10.0 20.0 C 10.0 20.0 10.0 25.0 10.0 25.0 C 10.0 26.0 11.0 26.0 12.0 26.0 C 12.0 27.0 13.0 27.0 14.0 27.0 C 15.0 27.0 16.0 27.0 16.0 26.0 C 17.0 26.0 18.0 26.0 18.0 25.0 C 18.0 25.0 18.0 20.0 18.0 20.0 C 18.0 20.0 18.0 20.0 18.0 20.0 C 20.0 19.0 22.0 16.0 22.0 13.0 C 22.0 9.0 18.0 6.0 14.0 6.0 ZM 14.0 7.0 C 18.0 7.0 21.0 10.0 21.0 13.0 C 21.0 16.0 19.0 18.0 17.0 19.0 C 17.0 19.0 16.0 21.0 16.0 21.0 C 16.0 21.0 15.0 21.0 14.0 21.0 C 13.0 21.0 12.0 21.0 12.0 21.0 C 12.0 21.0 11.0 19.0 11.0 19.0 C 9.0 18.0 7.0 16.0 7.0 13.0 C 7.0 10.0 10.0 7.0 14.0 7.0 Z";
}
#gauge {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 14 4.4666 C 19.2644 4.4666 23.5334 8.7357 23.5334 14 C 23.5334 15.8497 23.0066 17.5765 22.0945 19.0385 C 21.4197 18.5931 20.6131 18.3333 19.7416 18.3333 C 17.3482 18.3333 15.4083 20.2731 15.4083 22.6667 C 15.4083 22.9239 15.4311 23.1754 15.4745 23.4195 C 14.994 23.4942 14.5015 23.5334 14 23.5334 C 13.1125 23.5334 12.2534 23.4117 11.4381 23.1847 C 11.5072 22.8797 11.5437 22.5625 11.5437 22.2357 C 11.5437 19.8424 9.6038 17.9025 7.2103 17.9025 C 6.5908 17.9025 6.0044 18.0339 5.4746 18.2699 C 4.8298 16.9854 4.4666 15.5348 4.4666 14 C 4.4666 8.7357 8.7357 4.4666 14 4.4666 ZM 14 1 C 6.8314 1 1 6.8314 1 14 C 1 21.1686 6.8314 27 14 27 C 21.1687 27 27 21.1686 27 14 C 27 6.8314 21.1687 1 14 1 ZM 19.9348 7.6256 C 19.8134 7.5042 19.6161 7.5048 19.494 7.6268 L 17.5495 9.5713 C 17.4274 9.6934 17.4269 9.8907 17.5483 10.0121 L 17.9879 10.4517 C 18.1094 10.5731 18.3067 10.5725 18.4287 10.4505 L 20.3732 8.506 C 20.4953 8.3839 20.4958 8.1866 20.3744 8.0652 L 19.9348 7.6256 ZM 7.9397 7.6256 L 7.5 8.0652 C 7.3786 8.1866 7.3791 8.3839 7.5011 8.506 L 9.4456 10.4505 C 9.5678 10.5725 9.7651 10.5731 9.8865 10.4517 L 10.3261 10.0121 C 10.4475 9.8907 10.4469 9.6934 10.3249 9.5713 L 8.3804 7.6268 C 8.2584 7.5048 8.061 7.5042 7.9397 7.6256 ZM 14.1256 5.2705 L 13.4976 5.2705 C 13.3242 5.2705 13.1836 5.4111 13.1836 5.5845 L 13.1836 8.3479 C 13.1836 8.5212 13.3242 8.6619 13.4976 8.6619 L 14.1256 8.6619 C 14.299 8.6619 14.4397 8.5212 14.4397 8.3479 L 14.4397 5.5845 C 14.4397 5.4111 14.299 5.2705 14.1256 5.2705 ZM 19.3382 12.9951 L 19.3382 13.6231 C 19.3382 13.7966 19.4788 13.9371 19.6522 13.9371 L 22.4155 13.9371 C 22.5889 13.9371 22.7295 13.7966 22.7295 13.6231 L 22.7295 12.9951 C 22.7295 12.8217 22.5889 12.681 22.4155 12.681 L 19.6522 12.681 C 19.4788 12.681 19.3382 12.8217 19.3382 12.9951 ZM 4.8938 12.9951 L 4.8938 13.6231 C 4.8938 13.7966 5.0343 13.9371 5.2077 13.9371 L 7.9711 13.9371 C 8.1444 13.9371 8.285 13.7966 8.285 13.6231 L 8.285 12.9951 C 8.285 12.8217 8.1444 12.681 7.9711 12.681 L 5.2077 12.681 C 5.0343 12.681 4.8938 12.8217 4.8938 12.9951 ZM 15.1952 15.6414 C 14.7536 14.5443 11.5508 11.5507 11.5508 11.5507 C 11.5508 11.5507 12.0531 14.7326 12.4509 16.5958 C 12.6061 16.9833 13.4168 18.0941 14.5652 17.6634 C 15.5701 17.2866 15.4738 16.3336 15.1952 15.6414 Z";
}
#unlock {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 9.0 17.0 C 9.0 16.0 10.0 15.0 11.0 15.0 C 12.0 15.0 13.0 16.0 13.0 17.0 C 13.0 18.0 12.0 19.0 12.0 19.0 C 12.0 19.0 13.0 23.0 13.0 23.0 L 9.0 23.0 C 9.0 23.0 10.0 19.0 10.0 19.0 C 9.0 19.0 9.0 18.0 9.0 17.0 ZM 25.0 11.0 L 27.0 11.0 C 27.0 11.0 27.0 9.0 27.0 9.0 C 27.0 5.0 24.0 2.0 20.0 2.0 C 16.0 2.0 13.0 5.0 13.0 9.0 C 13.0 9.0 13.0 11.0 13.0 11.0 C 13.0 11.0 4.0 11.0 4.0 11.0 C 2.0 11.0 1.0 12.0 1.0 14.0 C 1.0 14.0 1.0 23.0 1.0 23.0 C 1.0 25.0 2.0 26.0 4.0 26.0 C 4.0 26.0 18.0 26.0 18.0 26.0 C 20.0 26.0 21.0 25.0 21.0 23.0 C 21.0 23.0 21.0 14.0 21.0 14.0 C 21.0 12.0 20.0 11.0 18.0 11.0 C 18.0 11.0 15.0 11.0 15.0 11.0 C 15.0 11.0 15.0 9.0 15.0 9.0 C 15.0 6.0 17.0 4.0 20.0 4.0 C 23.0 4.0 25.0 6.0 25.0 9.0 C 25.0 9.0 25.0 11.0 25.0 11.0 Z";
}
#tags {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 12.0 3.0 L 25.0 15.0 L 26.0 14.0 L 13.0 1.0 L 3.0 1.0 L 3.0 3.0 L 12.0 3.0 ZM 11.0 4.0 L 1.0 4.0 L 1.0 13.0 L 15.0 27.0 L 24.0 17.0 L 11.0 4.0 ZM 6.0 11.0 C 5.0 11.0 4.0 10.0 4.0 9.0 C 4.0 8.0 5.0 7.0 6.0 7.0 C 7.0 7.0 8.0 8.0 8.0 9.0 C 8.0 10.0 7.0 11.0 6.0 11.0 Z";
}
#display {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 26.0 21.0 C 25.0 21.0 21.0 21.0 17.0 21.0 C 17.0 21.0 18.0 25.0 18.0 25.0 L 19.0 25.0 L 19.0 26.0 L 18.0 26.0 L 10.0 26.0 L 9.0 26.0 L 9.0 25.0 L 10.0 25.0 C 10.0 25.0 11.0 21.0 11.0 21.0 C 7.0 21.0 3.0 21.0 2.0 21.0 C 1.0 21.0 0.0 20.0 0.0 19.0 C 0.0 19.0 0.0 8.0 0.0 3.0 C 0.0 2.0 1.0 1.0 2.0 1.0 C 5.0 1.0 23.0 1.0 26.0 1.0 C 27.0 1.0 28.0 2.0 28.0 3.0 C 28.0 3.0 28.0 14.0 28.0 19.0 C 28.0 20.0 27.0 21.0 26.0 21.0 ZM 26.0 3.0 L 2.0 3.0 L 2.0 19.0 L 26.0 19.0 L 26.0 3.0 Z";
}
#plane {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 12.0 2.0 C 12.0 1.0 16.0 1.0 16.0 2.0 C 16.0 2.0 16.0 10.0 16.0 10.0 L 27.0 17.0 L 27.0 20.0 L 16.0 16.0 L 16.0 22.0 L 19.0 24.0 L 19.0 26.0 L 14.0 25.0 L 9.0 26.0 L 9.0 24.0 L 12.0 22.0 L 12.0 16.0 L 1.0 20.0 L 1.0 17.0 L 12.0 10.0 C 12.0 10.0 12.0 2.0 12.0 2.0 Z";
}
#train {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 14.0 2.0 C 14.0 1.0 13.0 1.0 13.0 1.0 C 12.0 1.0 12.0 1.0 12.0 2.0 C 12.0 3.0 12.0 3.0 13.0 3.0 C 13.0 3.0 14.0 3.0 14.0 2.0 ZM 17.0 2.0 C 17.0 1.0 16.0 1.0 16.0 1.0 C 15.0 1.0 15.0 1.0 15.0 2.0 C 15.0 3.0 15.0 3.0 16.0 3.0 C 16.0 3.0 17.0 3.0 17.0 2.0 ZM 20.0 4.0 C 20.0 4.0 8.0 4.0 8.0 4.0 C 7.0 4.0 5.0 6.0 5.0 8.0 C 5.0 8.0 5.0 20.0 5.0 20.0 C 5.0 22.0 6.0 23.0 8.0 23.0 C 8.0 23.0 5.0 27.0 5.0 27.0 L 8.0 27.0 L 11.0 23.0 L 17.0 23.0 L 20.0 27.0 L 23.0 27.0 C 23.0 27.0 20.0 23.0 20.0 23.0 C 22.0 23.0 23.0 22.0 23.0 20.0 C 23.0 20.0 23.0 7.0 23.0 7.0 C 23.0 6.0 21.0 4.0 20.0 4.0 ZM 9.0 21.0 C 8.0 21.0 7.0 21.0 7.0 20.0 C 7.0 19.0 8.0 18.0 9.0 18.0 C 9.0 18.0 10.0 19.0 10.0 20.0 C 10.0 21.0 9.0 21.0 9.0 21.0 ZM 19.0 21.0 C 18.0 21.0 18.0 21.0 18.0 20.0 C 18.0 19.0 18.0 18.0 19.0 18.0 C 20.0 18.0 21.0 19.0 21.0 20.0 C 21.0 21.0 20.0 21.0 19.0 21.0 ZM 22.0 13.0 C 22.0 14.0 21.0 15.0 20.0 15.0 C 20.0 15.0 9.0 15.0 9.0 15.0 C 8.0 15.0 7.0 14.0 7.0 13.0 C 7.0 13.0 7.0 10.0 7.0 10.0 C 7.0 9.0 8.0 8.0 9.0 8.0 C 9.0 8.0 20.0 8.0 20.0 8.0 C 21.0 8.0 22.0 9.0 22.0 10.0 C 22.0 10.0 22.0 13.0 22.0 13.0 Z";
}
#car {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 23.0 10.0 C 23.0 10.0 21.0 5.0 21.0 5.0 C 20.0 5.0 20.0 5.0 20.0 5.0 C 20.0 5.0 8.0 5.0 8.0 5.0 C 8.0 5.0 8.0 5.0 7.0 5.0 C 7.0 5.0 5.0 10.0 5.0 10.0 L 23.0 10.0 ZM 25.0 14.0 C 25.0 13.0 24.0 12.0 23.0 12.0 C 21.0 12.0 21.0 13.0 21.0 14.0 C 21.0 15.0 21.0 16.0 23.0 16.0 C 24.0 16.0 25.0 15.0 25.0 14.0 C 25.0 14.0 25.0 14.0 25.0 14.0 ZM 5.0 16.0 C 6.0 16.0 7.0 15.0 7.0 14.0 C 7.0 13.0 6.0 12.0 5.0 12.0 C 4.0 12.0 3.0 13.0 3.0 14.0 C 3.0 15.0 4.0 16.0 5.0 16.0 C 5.0 16.0 5.0 16.0 5.0 16.0 ZM 7.0 20.0 C 7.0 20.0 7.0 22.0 7.0 22.0 C 7.0 23.0 6.0 24.0 5.0 24.0 C 4.0 24.0 3.0 23.0 3.0 22.0 C 3.0 22.0 3.0 20.0 3.0 20.0 L 1.0 20.0 L 1.0 13.0 C 1.0 13.0 1.0 13.0 1.0 13.0 C 1.0 12.0 2.0 10.0 3.0 10.0 C 3.0 10.0 6.0 4.0 6.0 4.0 C 6.0 4.0 7.0 3.0 8.0 3.0 C 8.0 3.0 20.0 3.0 20.0 3.0 C 21.0 3.0 22.0 4.0 22.0 4.0 C 22.0 4.0 25.0 10.0 25.0 10.0 C 26.0 10.0 27.0 12.0 27.0 13.0 C 27.0 13.0 27.0 13.0 27.0 13.0 L 27.0 20.0 L 25.0 20.0 C 25.0 20.0 25.0 22.0 25.0 22.0 C 25.0 23.0 24.0 24.0 23.0 24.0 C 22.0 24.0 21.0 23.0 21.0 22.0 C 21.0 22.0 21.0 20.0 21.0 20.0 L 7.0 20.0 Z";
}
#luggage {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 17.0 7.0 L 12.0 7.0 L 12.0 5.0 L 17.0 5.0 L 17.0 7.0 ZM 18.0 7.0 C 18.0 7.0 18.0 5.0 18.0 5.0 C 18.0 4.0 18.0 4.0 17.0 4.0 C 17.0 4.0 12.0 4.0 12.0 4.0 C 11.0 4.0 11.0 4.0 11.0 5.0 C 11.0 5.0 11.0 7.0 11.0 7.0 L 7.0 7.0 L 7.0 24.0 L 21.0 24.0 L 21.0 7.0 L 18.0 7.0 ZM 23.0 24.0 C 23.0 24.0 25.0 24.0 25.0 24.0 C 26.0 24.0 27.0 23.0 27.0 21.0 C 27.0 21.0 27.0 9.0 27.0 9.0 C 27.0 8.0 26.0 7.0 25.0 7.0 C 25.0 7.0 23.0 7.0 23.0 7.0 L 23.0 24.0 ZM 5.0 24.0 L 5.0 7.0 C 5.0 7.0 3.0 7.0 3.0 7.0 C 2.0 7.0 1.0 8.0 1.0 9.0 C 1.0 9.0 1.0 21.0 1.0 21.0 C 1.0 23.0 2.0 24.0 3.0 24.0 C 3.0 24.0 5.0 24.0 5.0 24.0 Z";
}
#brightness {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 23.1482 6.1246 L 22.0168 4.9932 L 18.6934 8.3166 L 19.8248 9.448 L 23.1482 6.1246 ZM 9.501 19.7718 L 8.3697 18.6404 L 5.0463 21.9638 L 6.1776 23.0952 L 9.501 19.7718 ZM 6.0362 4.9932 L 4.9048 6.1246 L 8.2282 9.448 L 9.3596 8.3166 L 6.0362 4.9932 ZM 19.6834 18.6404 L 18.552 19.7718 L 21.8754 23.0952 L 23.0068 21.9638 L 19.6834 18.6404 ZM 14.9 2 L 13.3 2 L 13.3 6.7 L 14.9 6.7 L 14.9 2 ZM 14.9 21.3 L 13.3 21.3 L 13.3 26 L 14.9 26 L 14.9 21.3 ZM 2 13.3 L 2 14.9 L 6.7 14.9 L 6.7 13.3 L 2 13.3 ZM 21.3 13.3 L 21.3 14.9 L 26 14.9 L 26 13.3 L 21.3 13.3 ZM 9.1 14.1 C 9.1 16.8615 11.3385 19.1 14.1 19.1 C 16.8615 19.1 19.1 16.8615 19.1 14.1 C 19.1 11.3385 16.8615 9.1 14.1 9.1 C 11.3385 9.1 9.1 11.3385 9.1 14.1 Z";
}
#delete {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 23.0 7.0 C 23.0 7.0 24.0 7.0 24.0 7.0 L 21.0 4.0 C 21.0 4.0 21.0 5.0 21.0 5.0 C 19.0 3.0 17.0 2.0 14.0 2.0 C 7.0 2.0 2.0 7.0 2.0 14.0 C 2.0 17.0 3.0 19.0 5.0 21.0 C 5.0 21.0 4.0 21.0 4.0 21.0 L 7.0 24.0 C 7.0 24.0 7.0 23.0 7.0 23.0 C 9.0 25.0 11.0 26.0 14.0 26.0 C 21.0 26.0 26.0 21.0 26.0 14.0 C 26.0 11.0 25.0 9.0 23.0 7.0 ZM 5.0 14.0 C 5.0 9.0 9.0 5.0 14.0 5.0 C 16.0 5.0 18.0 6.0 19.0 7.0 C 19.0 7.0 7.0 19.0 7.0 19.0 C 6.0 18.0 5.0 16.0 5.0 14.0 ZM 14.0 23.0 C 12.0 23.0 10.0 22.0 9.0 21.0 C 9.0 21.0 21.0 9.0 21.0 9.0 C 22.0 10.0 23.0 12.0 23.0 14.0 C 23.0 19.0 19.0 23.0 14.0 23.0 Z";
}
#temperature {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 7 15 L 7 16.0001 L 11 16.0001 L 11 15 L 7 15 ZM 9 13 L 9 14.0001 L 11 14.0001 L 11 13 L 9 13 ZM 9 11.0001 L 9 12.0001 L 11 12.0001 L 11 11.0001 L 9 11.0001 ZM 7 9.0001 L 7 10 L 11 10 L 11 9.0001 L 7 9.0001 ZM 9 7.0001 L 9 8.0001 L 11 8.0001 L 11 7.0001 L 9 7.0001 ZM 9 5 L 9 6.0001 L 11 6.0001 L 11 5 L 9 5 ZM 7 3.0001 L 7 4.0001 L 11 4.0001 L 11 3.0001 L 7 3.0001 ZM 15 4.0001 C 15 3.4478 15.4477 3.0001 16 3.0001 C 16.5524 3.0001 17 3.4478 17 4.0001 L 17 18 C 17 18.5523 16.5524 19.0001 16 19.0001 C 15.4477 19.0001 15 18.5523 15 18 L 15 4.0001 ZM 12 4.0001 L 12 18 C 10.7848 18.9122 10 20.3637 10 22.0001 C 10 24.7615 12.2386 27.0001 15 27.0001 C 17.7614 27.0001 20 24.7615 20 22.0001 C 20 20.3648 19.2138 18.9124 18 18 L 18 4.0001 C 18 2.3432 16.6569 1.0001 15 1.0001 C 13.3431 1.0001 12 2.3432 12 4.0001 Z";
}
#temperature1 {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 7.25 19.5714 C 7.25 17.0329 8.7926 14.85 11 13.8947 L 11 4.7143 C 11 3.3467 12.1193 2.2381 13.5 2.2381 C 14.8807 2.2381 16 3.3467 16 4.7143 L 16 13.8947 C 18.2074 14.85 19.75 17.0329 19.75 19.5714 C 19.75 22.9904 16.9518 25.7619 13.5 25.7619 C 10.0482 25.7619 7.25 22.9904 7.25 19.5714 ZM 9.75 4.7143 L 9.75 13.1395 C 7.5082 14.4239 6 16.8218 6 19.5714 C 6 23.6742 9.3578 27 13.5 27 C 17.6422 27 21 23.6742 21 19.5714 C 21 16.8218 19.4918 14.4239 17.25 13.1395 L 17.25 4.7143 C 17.25 2.6629 15.5711 1 13.5 1 C 11.4289 1 9.75 2.6629 9.75 4.7143 ZM 9.75 19.5714 C 9.75 21.6228 11.4289 23.2857 13.5 23.2857 C 15.5711 23.2857 17.25 21.6228 17.25 19.5714 C 17.25 17.9542 16.2065 16.5775 14.75 16.0676 L 14.75 12.0809 C 14.75 11.3972 14.1904 10.8429 13.5 10.8429 C 12.8096 10.8429 12.25 11.3972 12.25 12.0809 L 12.25 16.0676 C 10.7935 16.5775 9.75 17.9542 9.75 19.5714 Z";
}
#voltage {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 18.2364 1 L 11.0713 13.5651 L 20 11.4825 L 14.5082 23.3205 L 16.7243 22.7863 L 13.1416 27 L 13.0533 26.4567 L 13.0394 26.4867 L 13.0511 26.443 L 12.3227 21.9641 L 12.3227 21.9641 L 13.9172 23.2095 L 15.3152 15.2571 L 7 17.4424 L 13.6538 1.1027 L 18.2364 1 Z";
}
#umbrella {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 20.9828 6.8698 L 22.5395 2.8024 L 19.3015 5.7943 C 13.5224 2.7401 6.298 4.7589 2.8674 10.1312 L 2.9222 10.1688 C 4.2637 8.9127 6.2903 8.6725 7.8692 9.7394 C 9.4651 10.8178 9.7052 12.3164 9.4573 14.665 C 11.0905 13.2958 12.4952 13.5192 13.9416 14.0255 L 8.6859 22.0968 C 8.4912 22.3957 7.4417 23.819 5.8076 22.6397 C 4.2574 21.5208 4.9286 20.0171 5.1915 19.5965 C 5.5037 19.1074 5.3794 18.447 4.9129 18.1161 C 4.4469 17.7856 3.8142 17.9125 3.5004 18.3979 C 2.5873 19.8102 2.0537 22.5087 4.5269 24.3143 C 7.0386 26.1481 9.3568 24.6846 10.296 23.2454 L 15.5857 15.1399 C 16.6267 16.3196 17.2274 17.7368 16.792 19.7112 C 18.2239 18.4189 20.2683 18.1536 22.1393 19.3827 C 23.4275 20.25 24.6692 22.6089 23.9342 24.625 L 23.9959 24.6674 C 27.8665 18.817 26.408 11.0129 20.9828 6.8698 Z";
}
#power {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 14 27 C 7.3725 27 2 21.5678 2 14.8666 C 2 9.3702 5.6146 4.7275 10.5714 3.2359 L 10.5714 6.9193 C 7.5441 8.2567 5.4286 11.3128 5.4286 14.8666 C 5.4286 19.6532 9.2661 23.5334 14 23.5334 C 18.7339 23.5334 22.5714 19.6532 22.5714 14.8666 C 22.5714 11.3128 20.4559 8.2567 17.4286 6.9193 L 17.4286 3.2359 C 22.3855 4.7275 26 9.3702 26 14.8666 C 26 21.5678 20.6275 27 14 27 ZM 14 14.8666 C 13.1429 14.8666 12.2857 14 12.2857 13.1334 L 12.2857 2.7333 C 12.2857 1.8666 13.1429 1 14 1 C 14.8572 1 15.7143 1.8666 15.7143 2.7333 L 15.7143 13.1334 C 15.7143 14 14.8572 14.8666 14 14.8666 Z";
}
#info {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 14 27 C 6.8203 27 1 21.1797 1 14 C 1 6.8204 6.8203 1 14 1 C 21.1797 1 27 6.8204 27 14 C 27 21.1797 21.1797 27 14 27 ZM 10.9255 13.116 C 10.9255 13.2919 10.8936 13.7285 10.9293 13.9915 L 12.2346 12.4206 C 12.5048 12.1249 12.817 11.9178 12.9767 11.9739 C 13.1365 12.0299 13.2238 12.2173 13.1719 12.3924 L 11.0117 19.5469 C 10.7628 20.3834 11.2335 21.205 12.3798 21.3916 C 14.0591 21.3916 15.0572 20.2559 16.0384 18.7833 C 16.0384 18.6074 16.097 18.1441 16.0612 17.8811 L 14.756 19.452 C 14.4857 19.7478 14.1496 19.9549 13.9899 19.8988 C 13.8421 19.8469 13.7563 19.6828 13.7854 19.5199 L 15.9604 12.3308 C 16.1414 11.4179 15.6504 10.5878 14.6108 10.4811 C 13.5179 10.4811 11.9067 11.6435 10.9255 13.116 ZM 15.7476 6.4635 C 14.9215 6.4635 14.2519 7.0647 14.2519 7.9513 C 14.2519 8.8378 14.9215 9.4389 15.7476 9.4389 C 16.5736 9.4389 17.2433 8.8378 17.2433 7.9513 C 17.2433 7.0647 16.5736 6.4635 15.7476 6.4635 Z";
}
#info1 {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 14.7293 3.6064 C 14.7293 5.1597 15.9092 6.2128 17.3647 6.2128 C 18.8201 6.2128 20 5.1597 20 3.6064 C 20 2.0532 18.8201 1 17.3647 1 C 15.9092 1 14.7293 2.0532 14.7293 3.6064 ZM 9.0231 12.5012 C 9.0231 12.8094 8.9669 13.5743 9.0298 14.0352 L 11.3296 11.2829 C 11.8058 10.7648 12.3558 10.402 12.6373 10.5002 C 12.9187 10.5984 13.0726 10.9266 12.9811 11.2334 L 9.1749 23.7682 C 8.7365 25.2337 9.5658 26.6731 11.5854 27 C 14.5444 27 16.3028 25.0102 18.0316 22.4303 C 18.0316 22.1222 18.1348 21.3105 18.072 20.8497 L 15.7722 23.6019 C 15.2959 24.1201 14.7037 24.4829 14.4223 24.3847 C 14.162 24.2939 14.0108 24.0062 14.0621 23.7207 L 17.8943 11.1256 C 18.2132 9.5262 17.3481 8.0718 15.5164 7.8849 C 13.5907 7.8849 10.752 9.9214 9.0231 12.5012 Z";
}
#relay {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 5 14.5 C 5 12.567 6.1193 11 7.5 11 C 8.8807 11 10 12.567 10 14.5 C 10 16.433 8.8807 18 7.5 18 C 6.1193 18 5 16.433 5 14.5 ZM 14 10 L 23.68 10 C 24.409 10 25 10.9299 25 12.0769 L 25 16.9231 C 25 18.0701 24.409 19 23.68 19 L 14 19 L 14 10 ZM 1 11 L 1 18 C 1 19.6569 2.3431 21 4 21 L 24 21 C 25.6569 21 27 19.6569 27 18 L 27 11 C 27 9.3431 25.6569 8 24 8 L 4 8 C 2.3431 8 1 9.3431 1 11 ZM 6 14.5 C 6 15.8807 6.6716 17 7.5 17 C 8.3284 17 9 15.8807 9 14.5 C 9 13.1193 8.3284 12 7.5 12 C 6.6716 12 6 13.1193 6 14.5 ZM 20 13 L 20 18 L 21 18 L 21 11 L 20.0844 11 C 20.0065 11.3594 19.8312 11.6094 19.5195 11.7656 C 19.2078 11.9219 18.5844 12.0313 18 12.0313 L 18 13 L 20 13 Z";
}
#multi-relay {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 5.6923 21 C 5.6923 19.2157 6.7255 17.7692 8 17.7692 C 9.2745 17.7692 10.3077 19.2157 10.3077 21 C 10.3077 22.7843 9.2745 24.2308 8 24.2308 C 6.7255 24.2308 5.6923 22.7843 5.6923 21 ZM 14 16.9688 L 22.9375 16.9688 C 23.6104 16.9688 24 17.3787 24 18.4375 L 24 23.5938 C 24 24.6526 23.5792 25 22.9063 25 L 14 25 L 14 16.9688 ZM 2 17.7692 L 2 24.2308 C 2 25.7602 3.2398 27 4.7692 27 L 23.2308 27 C 24.7602 27 26 25.7602 26 24.2308 L 26 17.7692 C 26 16.2398 24.7602 15 23.2308 15 L 4.7692 15 C 3.2398 15 2 16.2398 2 17.7692 ZM 7 20.9688 C 7 22.2433 7.2353 22.9688 8 22.9688 C 8.7647 22.9688 9 22.212 9 20.9375 C 9 19.663 8.7647 18.9688 8 18.9688 C 7.2353 18.9688 7 19.6942 7 20.9688 ZM 19.9688 19.9688 L 19.9688 24 L 20.9688 24 L 20.9688 17.9688 L 20 17.9688 C 19.9281 18.3005 19.7252 18.4808 19.4375 18.625 C 19.1498 18.7692 18.5395 19 18 19 L 18 19.9688 L 19.9688 19.9688 ZM 5.6923 7 C 5.6923 5.2157 6.7255 3.7692 8 3.7692 C 9.2745 3.7692 10.3077 5.2157 10.3077 7 C 10.3077 8.7843 9.2745 10.2308 8 10.2308 C 6.7255 10.2308 5.6923 8.7843 5.6923 7 ZM 14 2.9688 L 22.9375 2.9688 C 23.6104 2.9688 24 3.3787 24 4.4375 L 24 9.5938 C 24 10.6526 23.5792 11 22.9063 11 L 14 11 L 14 2.9688 ZM 2 3.7692 L 2 10.2308 C 2 11.7602 3.2398 13 4.7692 13 L 23.2308 13 C 24.7602 13 26 11.7602 26 10.2308 L 26 3.7692 C 26 2.2398 24.7602 1 23.2308 1 L 4.7692 1 C 3.2398 1 2 2.2398 2 3.7692 ZM 7 6.9688 C 7 8.2433 7.2353 8.9688 8 8.9688 C 8.7647 8.9688 9 8.212 9 6.9375 C 9 5.663 8.7647 4.9688 8 4.9688 C 7.2353 4.9688 7 5.6942 7 6.9688 ZM 19.9688 5.9688 L 19.9688 10 L 20.9688 10 L 20.9688 3.9688 L 20 3.9688 C 19.9281 4.3005 19.7252 4.4808 19.4375 4.625 C 19.1498 4.7692 18.5395 5 18 5 L 18 5.9688 L 19.9688 5.9688 Z";
}
#calculator {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 21.9998 25.9998 L 5.9998 25.9998 C 5.4474 25.9998 4.9998 25.5521 4.9998 24.9999 L 4.9998 3.9998 C 4.9998 3.4476 5.4474 2.9999 5.9998 2.9999 L 21.9998 2.9999 C 22.552 2.9999 22.9997 3.4476 22.9997 3.9998 L 22.9997 24.9999 C 22.9997 25.5521 22.552 25.9998 21.9998 25.9998 ZM 15.9998 23.9998 L 17.9997 23.9998 L 17.9997 21.9998 L 15.9998 21.9998 L 15.9998 23.9998 ZM 15.9998 20.9998 L 17.9997 20.9998 L 17.9997 18.9998 L 15.9998 18.9998 L 15.9998 20.9998 ZM 15.9998 17.9999 L 17.9997 17.9999 L 17.9997 15.9998 L 15.9998 15.9998 L 15.9998 17.9999 ZM 15.9998 14.9998 L 17.9997 14.9998 L 17.9997 12.9998 L 15.9998 12.9998 L 15.9998 14.9998 ZM 12.9998 23.9998 L 14.9998 23.9998 L 14.9998 21.9998 L 12.9998 21.9998 L 12.9998 23.9998 ZM 12.9998 20.9998 L 14.9998 20.9998 L 14.9998 18.9998 L 12.9998 18.9998 L 12.9998 20.9998 ZM 12.9998 17.9999 L 14.9998 17.9999 L 14.9998 15.9998 L 12.9998 15.9998 L 12.9998 17.9999 ZM 12.9998 14.9998 L 14.9998 14.9998 L 14.9998 12.9998 L 12.9998 12.9998 L 12.9998 14.9998 ZM 6.9998 23.9998 L 11.9997 23.9998 L 11.9997 21.9998 L 6.9998 21.9998 L 6.9998 23.9998 ZM 9.9998 15.9998 L 9.9998 17.9999 L 11.9997 17.9999 L 11.9997 15.9998 L 9.9998 15.9998 ZM 11.9997 14.9998 L 11.9997 12.9998 L 9.9998 12.9998 L 9.9998 14.9998 L 11.9997 14.9998 ZM 9.9998 18.9998 L 9.9998 20.9998 L 11.9997 20.9998 L 11.9997 18.9998 L 9.9998 18.9998 ZM 6.9998 20.9998 L 8.9997 20.9998 L 8.9997 18.9998 L 6.9998 18.9998 L 6.9998 20.9998 ZM 6.9998 17.9999 L 8.9997 17.9999 L 8.9997 15.9998 L 6.9998 15.9998 L 6.9998 17.9999 ZM 6.9998 14.9998 L 8.9997 14.9998 L 8.9997 12.9998 L 6.9998 12.9998 L 6.9998 14.9998 ZM 20.9998 4.9999 L 6.9998 4.9999 L 6.9998 10.9998 L 20.9998 10.9998 L 20.9998 4.9999 ZM 20.9998 12.9998 L 18.9996 12.9998 L 18.9996 14.9998 L 20.9998 14.9998 L 20.9998 12.9998 ZM 20.9998 15.9998 L 18.9996 15.9998 L 18.9996 17.9999 L 20.9998 17.9999 L 20.9998 15.9998 ZM 20.9998 18.9998 L 18.9996 18.9998 L 18.9996 23.9998 L 20.9998 23.9998 L 20.9998 18.9998 Z";
}
#chart {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 2 22 L 2 23 L 26 23 L 26 22 L 2 22 ZM 23 5 L 23 21 L 26 21 L 26 5 L 23 5 ZM 19 6 L 19 21 L 22 21 L 22 6 L 19 6 ZM 15 15 L 15 21 L 18 21 L 18 15 L 15 15 ZM 11 10 L 11 21 L 14 21 L 14 10 L 11 10 ZM 7 7 L 7 21 L 10 21 L 10 7 L 7 7 ZM 3 14 L 3 21 L 6 21 L 6 14 L 3 14 Z";
}
#battery-0 {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 26.0001 17 C 25.4478 17 25 17 25 17 L 25 18 C 25 19.1046 24.1047 20 23 20 L 2.9999 20 C 1.8953 20 1 19.1046 1 18 L 1 11 C 1 9.8954 1.8953 9 2.9999 9 L 23 9 C 24.1047 9 25 9.8954 25 11 L 25 12 C 25 12 25.4478 12 26.0001 12 C 26.5524 12 27 12.4477 27 13.0001 L 27 16 C 27 16.5523 26.5524 17 26.0001 17 ZM 24.0001 11 C 24.0001 10.4477 23.5524 10.0001 23 10.0001 L 2.9999 10.0001 C 2.4476 10.0001 2 10.4477 2 11 L 2 18 C 2 18.5523 2.4476 18.9999 2.9999 18.9999 L 23 18.9999 C 23.5524 18.9999 24.0001 18.5523 24.0001 18 L 24.0001 11 Z";    
}
#battery-33 {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 26.0001 17 C 25.4478 17 25.0001 17 25.0001 17 L 25.0001 18 C 25.0001 19.1046 24.1047 20 23.0001 20 L 3.0001 20 C 1.8954 20 1 19.1046 1 18 L 1 11 C 1 9.8954 1.8954 9 3.0001 9 L 23.0001 9 C 24.1047 9 25.0001 9.8954 25.0001 11 L 25.0001 12 C 25.0001 12 25.4478 12 26.0001 12 C 26.5524 12 27 12.4477 27 13.0001 L 27 16 C 27 16.5523 26.5524 17 26.0001 17 ZM 24.0001 11 C 24.0001 10.4477 23.5524 10.0001 23.0001 10.0001 L 3.0001 10.0001 C 2.4478 10.0001 2 10.4477 2 11 L 2 18 C 2 18.5523 2.4478 18.9999 3.0001 18.9999 L 23.0001 18.9999 C 23.5524 18.9999 24.0001 18.5523 24.0001 18 L 24.0001 11 ZM 3.0004 11.0002 L 9.0004 11.0002 L 9.0004 18.0001 L 3.0004 18.0001 L 3.0004 11.0002 Z";
}
#battery-66 {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 26.0001 17 C 25.4478 17 25 17 25 17 L 25 18 C 25 19.1046 24.1046 20 23.0001 20 L 3 20 C 1.8954 20 1 19.1046 1 18 L 1 11 C 1 9.8954 1.8954 9 3 9 L 23.0001 9 C 24.1046 9 25 9.8954 25 11 L 25 12 C 25 12 25.4478 12 26.0001 12 C 26.5524 12 27 12.4477 27 13.0001 L 27 16 C 27 16.5523 26.5524 17 26.0001 17 ZM 24.0001 11 C 24.0001 10.4477 23.5524 10.0001 23.0001 10.0001 L 3 10.0001 C 2.4477 10.0001 2 10.4477 2 11 L 2 18 C 2 18.5523 2.4477 18.9999 3 18.9999 L 23.0001 18.9999 C 23.5524 18.9999 24.0001 18.5523 24.0001 18 L 24.0001 11 ZM 10.0003 11.0002 L 16.0004 11.0002 L 16.0004 18.0001 L 10.0003 18.0001 L 10.0003 11.0002 ZM 3.0003 11.0002 L 9.0003 11.0002 L 9.0003 18.0001 L 3.0003 18.0001 L 3.0003 11.0002 Z";
}
#battery-100 {
    -fx-background-color: -symbol-color;
    -fx-shape: "M 25.9997 16.9998 C 25.4474 16.9998 24.9996 16.9998 24.9996 16.9998 L 24.9996 17.9998 C 24.9996 19.1044 24.1042 19.9998 22.9997 19.9998 L 2.9997 19.9998 C 1.8951 19.9998 0.9997 19.1044 0.9997 17.9998 L 0.9997 10.9998 C 0.9997 9.8951 1.8951 8.9998 2.9997 8.9998 L 22.9997 8.9998 C 24.1042 8.9998 24.9996 9.8951 24.9996 10.9998 L 24.9996 11.9998 C 24.9996 11.9998 25.4474 11.9998 25.9997 11.9998 C 26.552 11.9998 26.9996 12.4475 26.9996 12.9999 L 26.9996 15.9998 C 26.9996 16.5521 26.552 16.9998 25.9997 16.9998 ZM 23.9997 10.9998 C 23.9997 10.4475 23.552 9.9998 22.9997 9.9998 L 2.9997 9.9998 C 2.4474 9.9998 1.9997 10.4475 1.9997 10.9998 L 1.9997 17.9998 C 1.9997 18.5521 2.4474 18.9998 2.9997 18.9998 L 22.9997 18.9998 C 23.552 18.9998 23.9997 18.5521 23.9997 17.9998 L 23.9997 10.9998 ZM 17 11 L 23 11 L 23 17.9999 L 17 17.9999 L 17 11 ZM 9.9999 11 L 15.9999 11 L 15.9999 17.9999 L 9.9999 17.9999 L 9.9999 11 ZM 2.9999 11 L 8.9999 11 L 8.9999 17.9999 L 2.9999 17.9999 L 2.9999 11 Z";
}
#none {
    -fx-background-color: transparent;
    -fx-shape: null;
}
